{% style %}
  .rotate-90 {
    transform: rotate(-90deg);
  }
  .rotate-0 {
    transform: rotate(0deg);
  }
{% endstyle %}

<section id="harmonyOffcanvas" class="offcanvas__mobile-nav">
  <div
    class="header__mobile-nav offcanvas-nav relative z-50 harmony__color-text-{{ section.settings.mobile_offcanvas_color_scheme }} {% if section.settings.enable_gradient_offcanvas %} harmony__color-background-gradient-{{ section.settings.mobile_offcanvas_color_scheme   }} {% else %} harmony__color-background-{{ section.settings.mobile_offcanvas_color_scheme }} {% endif %}"
    aria-labelledby="slide-over-title"
    role="dialog"
    aria-modal="true"
  >
    {% comment %} Mobile offcanvas side background Image {% endcomment %}
    <div
      class="fixed z-50 inset-0 bg-[url('{{ section.settings.mob_bg_img | image_url }}')] bg-no-repeat bg-center bg-cover bg-black bg-opacity-75 transition-opacity {% if section.settings.enable_gradient_offcanvas %} ml-0 {% else %} lg:ml-96 {% endif %}"
    ></div>
    <div class="fixed z-50 inset-0 overflow-hidden">
      <div class="absolute inset-0 overflow-hidden">
        <div class="fixed flex inset-y-0 left-0">
          <div class="pointer-events-auto w-[100%]">
            <div class="flex h-full flex-col overflow-y-scroll harmony__color-text-{{ section.settings.mobile_offcanvas_color_scheme }} {% if section.settings.enable_gradient_offcanvas %} harmony__color-background-gradient-{{ section.settings.mobile_offcanvas_color_scheme }} {% else %} harmony__color-background-{{ section.settings.mobile_offcanvas_color_scheme }} {% endif %} shadow-xl">
              <div class="flex-1 overflow-y-auto px-8 py-8">

                <div class="flex items-start justify-between harmony__color-text-{{ section.settings.mobile_offcanvas_color_scheme }} {% if section.settings.enable_gradient_offcanvas %} harmony__color-background-gradient-{{ section.settings.mobile_offcanvas_color_scheme }} {% else %} harmony__color-background-{{ section.settings.mobile_offcanvas_color_scheme }} {% endif %} border-b harmony__color-border-{{ section.settings.mobile_offcanvas_color_scheme }} pb-4">
                  {% comment %} Mobile offcanvas Store Logo {% endcomment %}
                  {% if settings.logo != blank %}
                    <a href="#" class="store__logo ml-1.5">
                      {%- if settings.logo != blank -%}
                        {{ settings.logo | image_url: width: '60' | image_tag }}
                      {%- else -%}
                        <h2 class="fallback__logo text-lg leading-1 harmony__color-text-{{ section.settings.mobile_offcanvas_color_scheme }}">{{ shop.name }}</h2>
                      {%- endif -%}
                    </a>
                  {% endif %}
                  {% comment %} Mobile offcanvas close button {% endcomment %}
                  <div class="offcanvas__close-button ml-3 flex h-7 items-center">
                    <button type="button" class="offcanvas__close-btn relative -m-2 p-2 hover:text-gray-500" onclick="toggleOffcanvas(false)">
                      <span class="absolute -inset-0.5"></span>
                      <span class="sr-only">Close panel</span>
                      <svg
                        class="h-6 w-6 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
                {% comment %} Mobile offcanvas Main navigation {% endcomment %}
                <div class="main__nav-items mt-[20px] ">
                  <div class="grid grid-cols-1 gap-y-10">
                    <div class="product__categories">
                      {% comment %} Mobile nav  {% endcomment %}
                      <div class="grid grid-cols-1 lg:hidden gap-y-4">
                        {% comment %} Nav with product grid  {% endcomment %}
                        {%- for block in section.blocks -%}
                        {%- case block.type -%}
                          {%- when 'collection_list' -%}
                            <div class="mega__menu-item">
                              <button type="button" class="accordion-button-{{ section.id }} flex w-full items-center justify-between bg-transparent text-[18px] leading-[24px] hover:opacity-70 hover:underline">
                                <span>{{ block.settings.collection_list_nav }}</span>
                                <span class="ml-6 flex items-center">
                                  <svg class="chevron-icon rotate-90 transition-transform duration-300 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                </span>
                              </button>
                              <div class="nav__product pt-6 hidden">
                                <div class="space-y-4 text-[14px] leading-[19px]  font-normal">
                                  <div class="overflow-x-scroll flex">
                                    {% for block in section.blocks %}
                                        {% for collection in block.settings.collection_list %}
                                        <div class="flex-none max-w-[75%] mr-8 mb-8 max-h-md relative">
                                          <div class="min-h-[300px] max-h-[300px] overflow-hidden rounded-none  group-hover:opacity-75">
                                            <img src="{{ collection.image | img_url: '600x600' }}" alt="{{ collection.title }}" class="object-cover object-center w-full min-h-[300px] max-h-[300px]">
                                          </div>
                                          <div class="product__info grid grid-cols-2 mt-[14px]">
                                            <a href="{{ collection.url }}" class="flex justify-start text-[16px] leading-[21px] ">
                                              <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                                              {{ collection.title | truncate: 100 }}
                                            </a>
                                            <h6 aria-hidden="true" class="flex justify-end text-[16px] leading-[21px] ">({{ collection.products_count }})</h6>
                                          </div>
                                          {% if collection.description != blank %}
                                          <div class="w-full my-[14px] border-t harmony__color-border-{{ section.settings.mobile_offcanvas_color_scheme }} opacity-10"></div>
                                          <div class="product_short_desc text-[14px] leading-[19px] " aria-hidden="true">
                                            {{ collection.description | truncate: 100 }}
                                          </div>
                                          {% endif %}
                                        </div>
                                        {% endfor %}
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          {%- when 'collection_list_2' -%}
                            <div class="mega__menu-item">
                              <button type="button" class="accordion-button-{{ section.id }} flex w-full items-center justify-between bg-transparent text-[18px] leading-[24px]  hover:opacity-70 hover:underline">
                                <span>{{ block.settings.collection_list_nav_2 }}</span>
                                <span class="ml-6 flex items-center">
                                  <svg class="chevron-icon rotate-90 transition-transform duration-300 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                </span>
                              </button>
                              <div class="nav__product pt-6 hidden">
                                <div class="space-y-4 text-[14px] leading-[19px]  font-normal">
                                  <div class="overflow-x-scroll flex">
                                    {% for collection in block.settings.collection_list_2 %}
                                    <div class="flex-none max-w-[75%] mr-8 mb-8 max-h-md relative">
                                      <div class="min-h-[300px] max-h-[300px] overflow-hidden rounded-none group-hover:opacity-75">
                                        <img src="{{ collection.image | img_url: '600x600' }}" alt="{{ collection.title }}" class="object-cover object-center w-full min-h-[300px] max-h-[300px]">
                                      </div>
                                      <div class="product__info grid grid-cols-2 mt-[14px]">
                                        <a href="{{ collection.url }}" class="flex justify-start text-[16px] leading-[21px] ">
                                          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                                          {{ collection.title | truncate: 100 }}
                                        </a>
                                        <h6 aria-hidden="true" class="flex justify-end text-[16px] leading-[21px]">({{ collection.products_count }})</h6>
                                      </div>
                                      {% if collection.description != blank %}
                                        <div class="w-full my-[14px] border-t harmony__color-border-{{ section.settings.mobile_offcanvas_color_scheme }} opacity-10"></div>
                                        <div class="product_short_desc text-[14px] leading-[19px] " aria-hidden="true">
                                          {{ collection.description | truncate: 100 }}
                                        </div>
                                      {% endif %}
                                    </div>
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          {%- when 'collection_list_3' -%}
                            <div class="mega__menu-item">
                              <button type="button" class="accordion-button-{{ section.id }} flex w-full items-center justify-between bg-transparent text-[18px] leading-[24px]  hover:opacity-70 hover:underline">
                                <span>{{ block.settings.collection_list_nav_3 }}</span>
                                <span class="ml-6 flex items-center">
                                  <svg class="chevron-icon rotate-90 transition-transform duration-300 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                </span>
                              </button>
                              <div class="nav__product pt-6 hidden">
                                <div class="space-y-4 text-[14px] leading-[19px]  font-normal">
                                  <div class="overflow-x-scroll flex">
                                    {% for collection in block.settings.collection_list_3 %}
                                    <div class="flex-none max-w-[75%] mr-8 mb-8 max-h-md relative">
                                      <div class="min-h-[300px] max-h-[300px] overflow-hidden rounded-none group-hover:opacity-75">
                                        <img src="{{ collection.image | img_url: '600x600' }}" alt="{{ collection.title }}" class="object-cover object-center w-full min-h-[300px] max-h-[300px]">
                                      </div>
                                      <div class="product__info grid grid-cols-2 mt-[14px]">
                                        <a href="{{ collection.url }}" class="flex justify-start text-[16px] leading-[21px] ">
                                          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                                          {{ collection.title | truncate: 100 }}
                                        </a>
                                        <h6 aria-hidden="true" class="flex justify-end text-[16px] leading-[21px]">({{ collection.products_count }})</h6>
                                      </div>
                                      {% if collection.description != blank %}
                                        <div class="w-full my-[14px] border-t harmony__color-border-{{ section.settings.mobile_offcanvas_color_scheme }} opacity-10"></div>
                                        <div class="product_short_desc text-[14px] leading-[19px] " aria-hidden="true">
                                          {{ collection.description | truncate: 100 }}
                                        </div>
                                      {% endif %}
                                    </div>
                                    {% endfor %}
                                  </div>
                                </div>
                              </div>
                            </div>
                          {%- when 'collection' -%}
                            <div class="mega__menu-item">
                              <button type="button" class="accordion-button-{{ section.id }} flex w-full items-center justify-between bg-transparent text-[18px] leading-[24px]  hover:opacity-70 hover:underline">
                                <span>{{ block.settings.collection_nav }}</span>
                                <span class="ml-6 flex items-center">
                                  <svg class="chevron-icon rotate-90 transition-transform duration-300 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                </span>
                              </button>
                              <div class="nav__product pt-6 hidden">
                                <div class="space-y-4 text-[14px] leading-[19px]  font-normal">
                                  <div class="overflow-x-scroll flex">
                                    {%- if block.settings.collection -%}
                                    {% assign selected_collection = collections[block.settings.collection] %}
                                    {%- for product in selected_collection.products -%}
                                    <div class="flex-none max-w-[75%] mr-8 mb-8 max-h-md relative">
                                      <div class="min-h-[300px] max-h-[300px] overflow-hidden rounded-none  group-hover:opacity-75">
                                        <img src="{{ product.featured_image | img_url: '600x600' }}" alt="{{ product.title }}" class="object-cover object-center w-full min-h-[300px] max-h-[300px]">
                                      </div>
                                      <div class="product__info grid grid-cols-2 mt-[14px]">
                                        <a href="{{ product.url }}" class="product__title flex justify-start text-[16px] leading-[21px] ">
                                          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                                          {{ product.title | truncate: 100 }}
                                        </a>
                                        <h6 aria-hidden="true" class="product__price flex justify-end text-[16px] leading-[21px] ">
                                          {{ product.price | money }}
                                        </h6>
                                      </div>
                                      {% if product.description %}
                                        <div class="w-full my-[14px] border-t harmony__color-border-{{ section.settings.mobile_offcanvas_color_scheme }} opacity-10"></div>
                                        <div class="product_short_desc text-[14px] leading-[19px] " aria-hidden="true">
                                          {{ product.description | truncate: 100 }}
                                        </div>
                                      {%- endif -%}
                                    </div>
                                    {%- endfor -%}
                                    {%- endif -%}
                                  </div>
                                </div>
                              </div>
                            </div>
                          {%- when 'collection_2' -%}
                            <div class="mega__menu-item">
                              <button type="button" class="accordion-button-{{ section.id }} flex w-full items-center justify-between bg-transparent text-[18px] leading-[24px]  hover:opacity-70 hover:underline">
                                <span>{{ block.settings.collection_nav_2 }}</span>
                                <span class="ml-6 flex items-center">
                                  <svg class="chevron-icon rotate-90 transition-transform duration-300 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                </span>
                              </button>
                              <div class="nav__product pt-6 hidden">
                                <div class="space-y-4 text-[14px] leading-[19px]  font-normal">
                                  <div class="overflow-x-scroll flex">
                                    {%- if block.settings.collection_2 -%}
                                    {% assign selected_collection_2 = collections[block.settings.collection_2] %}
                                    {%- for product in selected_collection_2.products -%}
                                    <div class="flex-none max-w-[75%] mr-8 mb-8 max-h-md relative">
                                      <div class="min-h-[300px] max-h-[300px] overflow-hidden rounded-none  group-hover:opacity-75">
                                        <img src="{{ product.featured_image | img_url: '600x600' }}" alt="{{ product.title }}" class="object-cover object-center w-full min-h-[300px] max-h-[300px]">
                                      </div>
                                      <div class="product__info grid grid-cols-2 mt-[14px]">
                                        <a href="{{ product.url }}" class="product__title flex justify-start text-[16px] leading-[21px] ">
                                          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                                          {{ product.title | truncate: 100 }}
                                        </a>
                                        <h6 aria-hidden="true" class="product__price flex justify-end text-[16px] leading-[21px] ">
                                          {{ product.price | money }}
                                        </h6>
                                      </div>
                                      {% if product.description %}
                                        <div class="w-full my-[14px] border-t harmony__color-border-{{ section.settings.mobile_offcanvas_color_scheme }} opacity-10"></div>
                                        <div class="product_short_desc text-[14px] leading-[19px] " aria-hidden="true">
                                          {{ product.description | truncate: 100 }}
                                        </div>
                                      {%- endif -%}
                                    </div>
                                    {%- endfor -%}
                                    {%- endif -%}
                                  </div>
                                </div>
                              </div>
                            </div>
                          {%- when 'collection_3' -%}
                            <div class="mega__menu-item">
                              <button type="button" class="accordion-button-{{ section.id }} flex w-full items-center justify-between bg-transparent text-[18px] leading-[24px]  hover:opacity-70 hover:underline">
                                <span>{{ block.settings.collection_nav_3 }}</span>
                                <span class="ml-6 flex items-center">
                                  <!-- Chevron icon -->
                                  <svg class="chevron-icon rotate-90 transition-transform duration-300 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                </span>
                              </button>
                              <div class="nav__product pt-6 hidden">
                                <div class="space-y-4 text-[14px] leading-[19px] font-normal">
                                  <div class="overflow-x-scroll flex">
                                    {%- if block.settings.collection_3 -%}
                                    {% assign selected_collection_3 = collections[block.settings.collection_3] %}
                                    {%- for product in selected_collection_3.products -%}
                                    <div class="flex-none max-w-[75%] mr-8 mb-8 max-h-md relative">
                                      <div class="min-h-[300px] max-h-[300px] overflow-hidden rounded-none  group-hover:opacity-75">
                                        <img src="{{ product.featured_image | img_url: '600x600' }}" alt="{{ product.title }}" class="object-cover object-center w-full min-h-[300px] max-h-[300px]">
                                      </div>
                                      <div class="product__info grid grid-cols-2 mt-[14px]">
                                        <a href="{{ product.url }}" class="product__title flex justify-start text-[16px] leading-[21px] ">
                                          <span class="absolute inset-0 z-10" aria-hidden="true"></span>
                                          {{ product.title | truncate: 100 }}
                                        </a>
                                        <h6 aria-hidden="true" class="product__price flex justify-end text-[16px] leading-[21px] ">
                                          {{ product.price | money }}
                                        </h6>
                                      </div>
                                      {% if product.description %}
                                        <div class="w-full my-[14px] border-t harmony__color-border-{{ section.settings.mobile_offcanvas_color_scheme }} opacity-10"></div>
                                        <div class="product_short_desc text-[14px] leading-[19px] " aria-hidden="true">
                                          {{ product.description | truncate: 100 }}
                                        </div>
                                      {%- endif -%}
                                    </div>
                                    {%- endfor -%}
                                    {%- endif -%}
                                  </div>
                                </div>
                              </div>
                            </div>
                        {%- endcase -%}
                        {%- endfor -%}
                        <div class="main__menu-item">
                          <div class="py-4">
                            <ul role="nav__item-list" class="space-y-4 pb-6 text-[14px] leading-[19px] ">
                              {% assign mob_menu = section.settings.mob_menu %}
                              {% for main_link in linklists[mob_menu].links %}
                                {% if main_link.links.size == 0 %}
                                  <li>
                                    <a href="{{ main_link.url }}">{{ main_link.title }}</a>
                                  </li>
                                {% elsif main_link.links.size > 0 %}
                                  <li>
                                    <button type="button" class="accordion-button-{{ section.id }} flex w-full items-center justify-between bg-transparent text-[14px] leading-[19px]  hover:opacity-70 hover:underline">
                                      <span>{{ main_link.title }}</span>
                                      <span class="ml-6 flex items-center">
                                        <!-- Chevron icon -->
                                        <svg class="chevron-icon rotate-90 transition-transform duration-300 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                      </span>
                                    </button>
                                    <div class="accordion-content pl-4 hidden">
                                      <ul class="nav__item-list space-y-2 mt-4 text-[14px] leading-[19px] ">
                                        {% for child_link in main_link.links %}
                                          {% if child_link.links.size == 0 %}
                                            <li>
                                              <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                                            </li>
                                          {% elsif child_link.links.size > 0 %}
                                            <li>
                                              <button type="button" class="accordion-button-{{ section.id }} flex w-full items-center justify-between bg-transparent text-[14px] leading-[19px]  hover:opacity-70 hover:underline">
                                                <span>{{ child_link.title }}</span>
                                                <span class="ml-6 flex items-center">
                                                  <!-- Chevron icon -->
                                                  <svg class="chevron-icon rotate-90 transition-transform duration-300 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"></path></svg>
                                                </span>
                                              </button>
                                              <div class="accordion-content pl-4 hidden">
                                                <ul class="nav__item-list space-y-2 mt-4 text-[14px] leading-[19px]">
                                                  {% for grand_child in child_link.links %}
                                                    <li>
                                                      <a href="{{ grand_child.url }}">{{ grand_child.title }}</a>
                                                    </li>
                                                  {% endfor %}
                                                </ul>
                                              </div>
                                            </li>
                                          {% endif %}
                                        {% endfor %}
                                      </ul>
                                    </div>
                                  </li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% comment %} Mobile offcanvas secondary navigation {% endcomment %}
                <div class="offcanvas__secondary-nav mt-[60px] ">
                  <div class="grid grid-cols-1 gap-y-10">
                    <div class="secondary__navigation">
                      <ul
                        role="list"
                        aria-labelledby="Clothing-heading"
                        class="secondary__navigation-list space-y-[8px] text-[14px] leading-[19px] "
                      >
                        {% assign secondary_menu = section.settings.mob_s_menu %}
                        {% for link in linklists[secondary_menu].links %}
                          <li class="flex">
                            <a href="{{ link.url }}" class="hover:opacity-70 hover:underline">{{ link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                {% comment %} (Snippetes: offcanvas-newsletter) Mobile offcanvas Newsletter {% endcomment %}
                <div class="offcanvas_newsletter mt-[60px] ">
                  {% if section.settings.mob_newsletter %}
                    <div class="grid grid-cols-1">
                      <div class="subscribe">
                        <span class="page__title inline text-[14px] leading-[19px] font-normal border harmony__color-border-{{ section.settings.mobile_offcanvas_color_scheme }} rounded-full px-2 py-1.5"
                          >Subscribe</span
                        >
                        <div class="page__description text-[14px] leading-[19px]  font-normal mt-[20px]">
                          Be the first to know about promotions and skincare tips.
                        </div>
                      </div>

                      <div class="flex mt-[30px]">
                        {% form 'customer', class: 'flex w-full' %}
                          {{ form.errors | default_errors }}
                          {% if form.posted_successfully? %}
                            <p class="text-[14px] leading-[19px] text-green-700">Submission Successful!</p>
                          {% else %}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <label for="Email" class="sr-only px-0">Email address</label>
                            <input
                              id="Email"
                              name="contact[email]"
                              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                              type="email"
                              autocomplete="email"
                              autocorrect="off"
                              autocapitalize="off"
                              required="required"
                              class="min-w-0 flex-auto border-0 border-b harmony__color-border-{{ section.settings.mobile_offcanvas_color_scheme }} text-[14px] leading-[19px] font-normal bg-transparent px-0 py-2 focus:ring-0 focus:border-b-gray-500 focus:outline-none focus:border-b-2 focus:border-gray-200" placeholder="Enter your email address"
                            >
                            <button type="submit" name="commit" id="Subscribe" class="flex-none">
                              <span class="harmony__color-primary-button-label-{{ section.settings.mobile_offcanvas_color_scheme }} harmony__color-primary-button-background-{{ section.settings.mobile_offcanvas_color_scheme }} border harmony__color-primary-button-border-{{ section.settings.mobile_offcanvas_color_scheme }} rounded-full px-2.5 py-2 hover:bg-black hover: transition"
                                aria-hidden="true">→</span>
                            </button>
                          {% endif %}
                        {% endform %}
                      </div>
                    </div>
                  {% endif %}
                  {% comment %} (snippets: offcanvas-social) Mobile offcanvas Social Icons {% endcomment %}
                  {% if section.settings.mob_social %}
                    <div class="social__share mx-auto mt-[30px]">
                      <div class="mt-8 flex">
                        <a href="{{ settings.social_facebook_link }}" class="hover:text-gray-500">
                          <span class="sr-only">Facebook</span>
                          <svg class="h-6 w-6 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd"/>
                          </svg>
                        </a>
                        <a href="{{ settings.social_instagram_link }}" class="ml-6 hover:text-gray-500">
                          <span class="sr-only">Instagram</span>
                          <svg class="h-6 w-6 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="{{ settings.social_twitter_link }}" class="ml-6 hover:harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}">
                          <span class="sr-only">Twitter</span>
                          <svg class="h-6 w-6 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" viewBox="0 0 24 24">
                            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                          </svg>
                        </a>
                        <a href="{{ settings.social_github_link }}" class="ml-6 hover:harmony__color-text-{{ section.settings.mobile_offcanvas_color_scheme }}">
                          <span class="sr-only">GitHub</span>
                          <svg class="h-6 w-6 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="{{ settings.social_dribble_link }}" class="ml-6 hover:harmony__color-text-{{ section.settings.mobile_offcanvas_color_scheme }}">
                          <span class="sr-only">Dribbble</span>
                          <svg class="h-6 w-6 harmony__color-icon-{{ section.settings.mobile_offcanvas_color_scheme }}" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10c5.51 0 10-4.48 10-10S17.51 2 12 2zm6.605 4.61a8.502 8.502 0 011.93 5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416 25.416 0 00-.564-1.236c3.145-1.28 4.577-3.124 4.761-3.362zM12 3.475c2.17 0 4.154.813 5.662 2.148-.152.216-1.443 1.941-4.48 3.08-1.399-2.57-2.95-4.675-3.189-5A8.687 8.687 0 0112 3.475zm-3.633.803a53.896 53.896 0 013.167 4.935c-3.992 1.063-7.517 1.04-7.896 1.04a8.581 8.581 0 014.729-5.975zM3.453 12.01v-.26c.37.01 4.512.065 8.775-1.215.25.477.477.965.694 1.453-.109.033-.228.065-.336.098-4.404 1.42-6.747 5.303-6.942 5.629a8.522 8.522 0 01-2.19-5.705zM12 20.547a8.482 8.482 0 01-5.239-1.8c.152-.315 1.888-3.656 6.703-5.337.022-.01.033-.01.054-.022a35.318 35.318 0 011.823 6.475 8.4 8.4 0 01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084 2.679-.423 5.022.271 5.314.369a8.468 8.468 0 01-3.655 5.715z" clip-rule="evenodd" />
                          </svg>
                        </a>
                      </div>  
                    </div>
                  {% endif %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  document.querySelectorAll('.accordion-button-{{ section.id }}').forEach(button => {
    button.addEventListener('click', () => {
      const accordionContent = button.nextElementSibling;
      const chevronIcon = button.querySelector('.chevron-icon');

      accordionContent.classList.toggle('hidden');
      chevronIcon.classList.toggle('rotate-0');
    });
  });
</script>

