
{%- if paginate.parts.size > 0 -%}
 
  <div class="flex items-center justify-between py-[44px]">
    <div class="flex flex-1 justify-between sm:hidden">
      {%- if paginate.previous -%} <a href="{{ paginate.previous.url }}{{ anchor }}" class="relative inline-flex items-center rounded-full border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>{% endif %}
      <a href="#" class="relative ml-3 inline-flex items-center rounded-full border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
        <div class="article__pagination">
          <nav class="isolate inline-flex space-x-4 rounded-full" aria-label="Pagination">
            {%- if paginate.previous -%}
            <a href="{{ paginate.previous.url }}{{ anchor }}" class="relative inline-flex items-center rounded-full px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">Previous</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" /></path>
              </svg>
            </a>
              {% endif %}
            {%- for part in paginate.parts -%}
              {%- if part.is_link -%}
            <a href="{{ part.url }}{{ anchor }}" class="relative rounded-full inline-flex items-center px-4 py-2 text-[14px] leading-[19px] text-[#000000] font-normal ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{- part.title -}}</a>

                {% else %}
                {% if part.title == paginate.current_page %}
            <a href="{{ part.url }}{{ anchor }}" aria-current="page" class="relative z-10 rounded-full inline-flex items-center bg-black px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">{{- part.title -}}</a>
                  
                  {% endif %}
                {% endif %}
              {% endfor %}
            <!-- <a href="#" class="relative rounded-full inline-flex items-center px-4 py-2 text-[14px] leading-[19px] text-[#000000] font-normal ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">2</a>
            <a href="#" class="relative rounded-full hidden items-center px-4 py-2 text-[14px] leading-[19px] text-[#000000] font-normal ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">3</a>
            <span class="relative rounded-full inline-flex items-center px-4 py-2 text-[14px] leading-[19px] text-[#000000] font-normal ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span>
            <a href="#" class="relative rounded-full hidden items-center px-4 py-2 text-[14px] leading-[19px] text-[#000000] font-normal ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">8</a>
            <a href="#" class="relative rounded-full inline-flex items-center px-4 py-2 text-[14px] leading-[19px] text-[#000000] font-normal ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">9</a>
            <a href="#" class="relative rounded-full inline-flex items-center px-3 py-2 text-[14px] leading-[19px] text-[#000000] font-normal ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">10</a>-->
            {%- if paginate.next -%} 
            <a href="{{ paginate.next.url }}{{ anchor }}" class="relative rounded-full inline-flex items-center px-2 py-2 text-[#000000] ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
              <span class="sr-only">Next</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
              </svg>
            </a>
                  {% endif %}
          </nav>
        </div>
        <div class="article__paginate-result">
          <p class="text-[14px] leading-[19px] text-[#000000] font-normal">
            Showing
            <span class="font-medium">1</span>
            to
            <span class="font-medium">10</span>
            of
            <span class="font-medium">{{ blog.articles_count }}</span>
            results
          </p>
        </div>
      </div>
    </div>
 
 {% endif %}