<!doctype html>
<html class="no-js scroll-smooth" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="generator" content="harmony">
    <link rel="canonical" href="{{ canonical_url }}">
    {% if settings.favicon != blank %}
      <link fetchpriority="low" rel="icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" sizes="32x32">
    {% endif %}
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description | default: shop.name | escape }}">
    <link rel="preconnect" href="//fonts.googleapis.com">
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
    <link href="//fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/31267e36af6f8dac65a56e78345e945e?family=Neue+Haas+Unica+W1G" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/c10b8c44adcd28d073240edf9ebf72af?family=NeuzeitS+Book" rel="stylesheet">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% comment %} External CSS files  {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


    
    {% comment %} We check if its a system font, or a web-safe font {% endcomment %}
    {% unless settings.type_header_font.system? and settings.type_body_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {% endunless %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js')
      window.addEventListener('load', () => document.documentElement.classList.add('ready'))
    </script>

 
    <link rel="stylesheet" href="{{ 'output.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    <script src="//cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>


    {% style %}

      {% for scheme in settings.color_schemes %}
        .harmony__color-{{ scheme.id }}{
          background: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
          background: {{ scheme.settings.background_gradient }};
          color: rgb({{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }});
        }
        .harmony__color-primary-button-{{ scheme.id }}{
          background: rgb({{ scheme.settings.primary_button.red }},{{ scheme.settings.primary_button.green }},{{ scheme.settings.primary_button.blue }});
          color: rgb({{ scheme.settings.on_primary_button.red }},{{ scheme.settings.on_primary_button.green }},{{ scheme.settings.on_primary_button.blue }});
          border-color: rgb({{ scheme.settings.primary_button_border.red }},{{ scheme.settings.primary_button_border.green }},{{ scheme.settings.primary_button_border.blue }});
        }
        .harmony__color-secondary-button-{{ scheme.id }}{
          background: rgb({{ scheme.settings.secondary_button.red }},{{ scheme.settings.secondary_button.green }},{{ scheme.settings.secondary_button.blue }});
          color: rgb({{ scheme.settings.on_secondary_button.red }},{{ scheme.settings.on_secondary_button.green }},{{ scheme.settings.on_secondary_button.blue }});
          border-color: rgb({{ scheme.settings.secondary_button_border.red }},{{ scheme.settings.secondary_button_border.green }},{{ scheme.settings.secondary_button_border.blue }});
        }
        .harmony__color-icon-{{ scheme.id }}{
          color: rgb({{ scheme.settings.icons.red }},{{ scheme.settings.icons.green }},{{ scheme.settings.icons.blue }});
          fill: rgb({{ scheme.settings.icons.red }},{{ scheme.settings.icons.green }},{{ scheme.settings.icons.blue }});
        }
        .harmony__color-link-{{ scheme.id }}{
          color: rgb({{ scheme.settings.links.red }},{{ scheme.settings.links.green }},{{ scheme.settings.links.blue }});
        }
      {% endfor %}

      :root {
        --font-body-family: {{ settings.type_body_font | font_face: font_display: 'swap' }}, {{ settings.type_body_font.fallback_families }};
        --font-body-scale: {{ settings.body_font_scale  }}px;

        --font-heading-family: {{ settings.type_header_font | font_face: font_display: 'swap' }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-scale: {{ settings.heading_font_scale }}px;
      }

      {%- if settings.use_font == 'system' -%}
        h1,h2,h3,h4,h5,h6,.text-lg,.text-xl,.text-2xl,.text-3xl{
          font-family: var(--font-heading-family);
          font-style: var(--font-heading-style);
          font-weight: var(--font-heading-weight);
          font-size: var(--font-heading-scale);
        }
        p, a, button, input, optgroup, select, textarea {
          font-family: var(--font-body-family);
        }
      {% else %}
        h1,h2,h3,h4,h5,h6,.text-lg,.text-xl,.text-2xl,.text-3xl{
          font-family: "NeuzeitS Book" !important;
        }
        p, a, button, input, optgroup, select, textarea {
          font-family: "Neue Haas Unica W1G" !important;
        }
      {%- endif -%}

      .cart__update-loader {
        opacity: 1;
        transition: opacity .2s;
      }

      /* Make the cart content look visually disabled while updating */
      html.js-ajax-cart-processing  {
        opacity: .6;
      }

      /* Show a loading indicator */
      html.js-ajax-cart-processing .cart__update-loader:before {
        content: ' ';
        display: inline-block;
        width: 15px; 
        height: 15px; 
        background-image: url(https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Spinning_arrows.gif?v=1716187034);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

    {% endstyle %}

    
    {% comment %} Somewhere in layout/theme.liquid {% endcomment %}
    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>

    <script type="module"> import '{{ "liquid-ajax-cart" | asset_url }}';</script>
    <script src="{{ 'swiper_bundle.min.js' | asset_url }}"></script>

    {{ content_for_header }}

  </head>
  <body>

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <script>
      window.shopUrl = '{{ request.origin }}'
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}'
      }
    </script>


  </body>
</html>
