<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="generator" content="harmony">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank %}
      <link fetchpriority="low" rel="icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" sizes="32x32">
    {% endif %}

    <title>{{ page_title }}</title>

    <meta name="description" content="{{ page_description | default: shop.name | escape }}">

    {% comment %} We preconnect to commonly used third-parties to initiate TCP/TLS handshake {% endcomment %}
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" /> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}
    
    {% comment %} We check if its a system font, or a web-safe font {% endcomment %}
    {% unless settings.type_header_font.system? and settings.type_body_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {% endunless %}

    {% comment %}
      {% liquid
        render 'colors'
        render 'typography'
      %}
    {% endcomment %}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js')
      window.addEventListener('load', () => document.documentElement.classList.add('ready'))
    </script>

    <!-- shopify/apps -->
    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'output.css' | asset_url }}">
    
    {% comment %} <script src="//cdn.tailwindcss.com"></script> {% endcomment %}
    {% comment %} <script src="//cdn.jsdelivr.net/npm/@tailwindcss/aspect-ratio@0.4.2/src/index.min.js"></script> {% endcomment %}
    <script src="//cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>


    {% comment %}
    {% liquid
      # Always add entrypoint below content_for_header
      render 'adastra' with 'base.css'
      render 'adastra' with 'index.js'
    %}
    {% endcomment %}

    {% comment %} <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> {% endcomment %}

    {% style %}
      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_font_scale  }}px;
        --font-heading-scale: {{ settings.heading_font_scale  }}px;

      }
    {% endstyle %}

    
  </head>
  <body>

    <main
      id="MainContent"
      tabindex="-1">
      {{ content_for_layout }}
    </main>

    <script>
      window.shopUrl = '{{ request.origin }}'
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}'
      }
    </script>


  </body>
</html>
