<!doctype html>
<html class="no-js scroll-smooth" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="generator" content="harmony">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if settings.favicon != blank %}
      <link fetchpriority="low" rel="icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" sizes="32x32">
    {% endif %}

    <title>{{ page_title }}</title>

    <meta name="description" content="{{ page_description | default: shop.name | escape }}">

    {% comment %} Google and Others Fonts  {% endcomment %}
    <link rel="preconnect" href="//fonts.googleapis.com">
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
    <link href="//fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/31267e36af6f8dac65a56e78345e945e?family=Neue+Haas+Unica+W1G" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/c10b8c44adcd28d073240edf9ebf72af?family=NeuzeitS+Book" rel="stylesheet">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    {% comment %} We preconnect to commonly used third-parties to initiate TCP/TLS handshake {% endcomment %}

    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}
    
    {% comment %} We check if its a system font, or a web-safe font {% endcomment %}
    {% unless settings.type_header_font.system? and settings.type_body_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {% endunless %}

    {% comment %}
      {% liquid
        render 'colors'
        render 'typography'
      %}
    {% endcomment %}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js')
      window.addEventListener('load', () => document.documentElement.classList.add('ready'))
    </script>

    {% comment %} schema settings color style  {% endcomment %}
    {% comment %}
    {% for scheme in settings.color_schemes %}
      {% style %} 
        .harmony__color-{{ scheme.id }}{
          background: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
          color: rgb({{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }});
          border-color: rgb({{ scheme.settings.border_color.red }}, {{ scheme.settings.border_color.green }}, {{ scheme.settings.border_color.blue }});
        }
      {% endstyle %} 
    {% endfor %}
    {% endcomment %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'output.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    
    <script src="//cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>


    {% comment %}
    {% liquid
      # Always add entrypoint below content_for_header
      render 'adastra' with 'base.css'
      render 'adastra' with 'index.js'
    %}
    {% endcomment %}



    {% style %}
      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-scale: {{ settings.body_font_scale  }}px;

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.heading_font_wieght }};
        --font-heading-scale: {{ settings.heading_font_scale }}px;
      }

      .cart__update-loader {
        opacity: 1;
        transition: opacity .2s;
      }

      /* Make the cart content look visually disabled while updating */
      html.js-ajax-cart-processing  {
        opacity: .6;
      }

      /* Show a loading indicator */
      html.js-ajax-cart-processing .cart__update-loader:before {
        content: ' ';
        display: inline-block;
        width: 15px; 
        height: 15px; 
        background-image: url(https://cdn.shopify.com/s/files/1/0586/2499/9582/files/Spinning_arrows.gif?v=1716187034);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    {% endstyle %}

    
    {% comment %} Somewhere in layout/theme.liquid {% endcomment %}
    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>

    <script type="module">
      import '{{ "liquid-ajax-cart-v2.1.0.js" | asset_url }}';
    </script>


  </head>
  <body>

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <script>
      window.shopUrl = '{{ request.origin }}'
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}'
      }
    </script>

  </body>
</html>
