<section id="harmony--{{ section.id }}">
  <div class="bg-[#D0BAAC]">
    <div class="mx-auto max-w-7xl px-2 lg:px-4">
      <dl class="grid grid-cols-1 sm:grid-cols-3 gap-x-4 lg:gap-x-8 gap-y-6 lg:gap-y-16 text-center lg:grid-cols-4">
        <div class="relative flex items-center justify-center lg:justify-start gap-x-4 order-1">
          <div class="grid grid-cols-2 gap-x-2 lg:grid-cols-2">
            <div class="mt-0">
              {%- if section.settings.enable_language_selector -%}
                {% if localization.available_languages.size > 1 %}
                  <localization-form class="relative">
                    {% form 'localization' %}
                      <div class="relative">
                        <button
                          type="button"
                          class="block w-full border-0 bg-transparent py-1.5 text-gray-900 ring-0 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:max-w-xs text-[14px] leading-[20px]"
                        >
                          {{ localization.language.endonym_name | capitalize }}
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            role="presentation"
                            class="inline-block w-4 h-4 ml-1"
                            viewBox="0 0 10 6"
                          >
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                          </svg>
                        </button>
                        <ul
                          id="LanguageList"
                          role="list"
                          class="absolute right-0 w-full mt-1 bg-white border border-gray-200 rounded-md shadow-lg z-10"
                          hidden
                        >
                          {% for language in localization.available_languages %}
                            <li
                              class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900"
                              tabindex="-1"
                            >
                              <a
                                href="#"
                                {% if language.iso_code == localization.language.iso_code %}
                                  aria-current="true"
                                {% endif %}
                                hreflang="{{ language.iso_code }}"
                                lang="{{ language.iso_code }}"
                                data-value="{{ language.iso_code }}"
                              >
                                {{ language.endonym_name | capitalize }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                        <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
                      </div>
                    {% endform %}
                  </localization-form>
                {% endif %}
              {%- endif -%}
            </div>
            <div class="mt-0">
              {%- if section.settings.enable_country_selector -%}
                <select
                  id="currency"
                  name="currency"
                  autocomplete="currency-name"
                  class="block w-md border-0 bg-transparent py-1.5 text-gray-900 ring-0 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:max-w-xs text-[14px] leading-[20px]"
                >
                  <option>USD</option>
                  <option>BGP</option>
                  <option>TK</option>
                </select>
              {%- endif -%}
            </div>
          </div>
        </div>
        <div class="relative flex items-center justify-center gap-x-4 lg:col-span-2 order-3 sm:order-2">
          <div class="slide-txt sm:text-[14px] sm:leading-[20px]">
            {%- for block in section.blocks -%}
              {{ block.settings.text }}
            {%- endfor -%}
          </div>
        </div>
        <div class="relative flex items-center justify-center lg:justify-end gap-x-4 lg:gap-x-4 mx-3 lg:mx-0 order-2 sm:order-2">
          {%- if section.settings.show_social -%}
            <img
              src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/instagram.svg?v=1713455635"
              alt="apple-pay"
              class="h-[16px] w-[16px]"
              width="16"
              height="16"
            >
            <span class="text-gray-900 sm:text-[14px] sm:leading-[20px]">Follow us on IG</span>
          {%- endif -%}
        </div>
      </dl>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",

  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__1.content",
      "info": "t:sections.announcement-bar.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.announcement-bar.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_slides_speed.label",
      "default": 5
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__3.content",
      "info": "t:sections.announcement-bar.settings.header__3.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.announcement-bar.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__4.content",
      "info": "t:sections.announcement-bar.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.announcement-bar.settings.enable_language_selector.label"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}