<div class="color-{{ section.settings.color_scheme }} gradient">
  <div id="harmony--{{ section.id }}">
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">{{ section.settings.title }}</h2>
        <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
          {% for brand_logo in section.blocks %}
            <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{ brand_logo.settings.image | image_url}}" alt="{{ brand_logo.settings.alt }}" width="158" height="48">
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Brand",
  "settings": [
   
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Brand"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "info": "To edit all your theme's colors, go to your color theme settings.",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type":"block",
      "name": "Brand Logos",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Upload or select an image for the brand logo"
        },
        {
          "type": "text",
          "id": "alt",
          "label": "Alt Text",
          "default": "Brand Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand",
      "category": "Harmony Sections"
    }
  ]
}
{% endschema %}
