<style>

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  #product__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    z-index: 99;
  }
  #product__grid-wrapper:hover #product__overlay{
    height: 100%;
  }
</style>


{%- style -%}
  /* schema settings color  */
  {% for scheme in settings.color_schemes %}
    .harmony__color-{{ scheme.id }}{
      background: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
      color: rgb({{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }});
    }
  {% endfor %}

  /* schema settings Badge Corner Radius  */
  .badge_corner_radius{
    border-radius: {{ settings.badge_corner_radius }}px;
  }
  .product__grid-card {
    padding: {{ settings.product_card_horizontal_offset }}px {{ settings.product_card_vertical_offset }}px;
    border-radius: {{ settings.product_card_corner_radius }}px;
    border-width: {{ settings.product_card_border_thickness }}px;
    border-color: {{ settings.product_card_border_color }}{{ settings.product_card_border_opacity }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}



<section id="harmony--{{ section.id }}" class="section__collection-all harmony__color-{{ section.settings.color_scheme }}">
  <div class="mx-auto max-w-2xl px-4 lg:max-w-7xl lg:px-6">
    {% if collection.handle == blank %}
      <h2 class="section__heading text-[67px] leading-[72px] font-bold tracking-tight">Collection not found</h2>
    {% else %}
      <div class="collection__main flex flex-row">
        <div class="collection__filter filter__sidebar hidden lg:block harmony__color-{{ section.settings.color_scheme_filter }} lg:basis-1/4 px-4 lg:px-6">
          <form class="border-t border-gray-200 px-4 py-6">

            {%- for filter in collection.filters -%}
            <div class="border-b border-gray-200 py-6">
              <h3 class="-my-3 flow-root">
                <button type="button" class="flex w-full items-center justify-between bg-transparent py-3 text-[14px] leading-[19px] font-semibold" aria-controls="filter-section-1" aria-expanded="false">
                  <span>FILTER BY {{ filter.label | upcase }} 
                    <strong>
                      {%- if filter.active_values.size > 0 -%}
                        ({{ filter.active_values.size }})
                      {%- endif -%}
                    </strong>
                  </span>
                  <span class="ml-6 flex items-center">
                    <!-- Expand icon, show/hide based on section open state. -->
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                    <!-- Collapse icon, show/hide based on section open state. -->
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                </button>
              </h3>
              <div class="pt-6" id="filter-section-1" x-show="open">
                <div class="space-y-4 text-[14px] leading-[19px] font-normal">

                  {%- for filter_value in filter.values -%}
                    <div class="flex items-center justify-between">
                      <div class="tags__item">
                        <input id="Filter-{{ filter.param_name }}-{{ forloop.index }}" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}" type="checkbox" {% if filter_value.active -%}checked{%- endif %}
                        {% if filter_value.count == 0 and filter_value.active == false -%}disabled-none {%- endif %} class="h-4 w-4 rounded border-gray-300 text-gray-600 focus:ring-gray-500">
                        <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}" class="ml-3">
                          <span>
                            {%- case filter_value.display.type -%}
                              {%- when 'colors' -%}
                                {% liquid
                                  assign size_limit = filter_value.display.value.size | at_most: 4
                                  assign rotation = '0deg'
                                  if size_limit == 2
                                    assign rotation = '45deg'
                                  endif
      
                                  assign angle_increment = 360 | divided_by: size_limit
                                  assign angle = 0
                                %}
                                {%- capture conic_gradient -%}
                                  {%- for color in filter_value.display.value limit: size_limit -%}
                                    {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                                  {%- endfor -%}
                                {%- endcapture -%}
                                <span style="
                                  width: 25px;
                                  height: 25px;
                                  border-radius: 50%;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                "></span>
                              {%- when 'image' -%}
                                {{
                                  filter_value.display.value
                                  | image_url: width: 25
                                  | image_tag: alt: filter_value.display.value.alt
                                }}
                              {%- else -%}
                                <span class="visual-display__child"></span>
                            {%- endcase -%}
                          </span>  
                        {{ filter_value.label }}</label>
                      </div>
                        (5)
                    </div>
                  {%- endfor -%}
                  <div class="filter-group-display__submit">
                    <input type="submit" value="Apply">
                  </div>


                </div>
              </div>
            </div>


            {% endfor %}

          </form>
        </div>
        <div class="collection__products harmony__color-{{ section.settings.color_scheme }} px-4 py-4 lg:px-6 lg:py-6">
          <div class="grid grid-cols-1 gap-x-6 gap-y-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:gap-x-8">
            {% for product in collection.products %}
              {% if collection.products.size > 0 %}
                  {% paginate collection.products by 12 %}
                  <div class="product__grid-wrapper {% if settings.product_card_style == 'card' %} product__grid-card {% endif %} group {% if settings.product_card_style == 'card' %} harmony__color-{{ settings.product_card_color_scheme }} {% endif %}" id="product__grid-wrapper">
                    <div class="product__media relative aspect-h-1 aspect-w-1 w-full overflow-hidden xl:aspect-h-8 xl:aspect-w-7">
                        {%- if section.settings.enable_stock_badge -%} 
                        {%- if product.available -%}
                        <span class="stock__status-sale harmony__color-{{ settings.sale_badge_color_scheme }} badge_corner_radius inline max-w-[90px] max-h-[25px] z-10 items-center ml-2 mt-2 px-2 pb-1 text-center text-[14px]">
                            Sale
                            </span>
                        {%- else -%}
                            <span class="stock__status-sold-out harmony__color-{{ settings.sold_out_badge_color_scheme }} badge_corner_radius inline max-w-[90px] max-h-[25px] z-10 items-center ml-2 mt-2 px-2 pb-1 text-center text-[14px]">
                            Sold out
                            </span>
                        {%- endif -%}
                        {% endif %}
                        <img src="{{ product.featured_media | image_url }}" alt="{{ product.title }}" class="h-full w-full object-cover object-center group-hover:opacity-75">
                        <div id="product__overlay" class="harmony__color-{{ settings.product_card_overlay_color_scheme }}">
                            <div class="flex h-full max-w-xl flex-col items-start justify-between">
                                {%- if section.settings.enable_quick_view -%}
                                <div class="flex items-center justify-center harmony__color-{{ settings.product_card_overlay_color_scheme }} gap-x-4 text-xs">
                                    {%- if section.settings.offer_badge -%} <span class="sale-badge absolute z-50 left-3 top-3 inline-block items-start badge_corner_radius harmony__color-{{ settings.product_card_overlay_color_scheme }} py-1 px-2 font-semibold">40% off</span>{% endif %}
                                    {%- if section.settings.show_wishlist -%}  
                                    <button class="absolute right-2 top-3 text-sm font-semibold h-[35px] w-[35px] block harmony__color-{{ settings.product_card_overlay_color_scheme }} rounded-full px-1 pt-[5px]">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"></path>
                                        </svg>
                                    <span class="sr-only  lg:ml-2 border border-transparent"></span>
                                    </button>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {%- if section.settings.enable_quick_view -%}
                                <button type="submit" class="mx-auto flex w-[85%] items-center justify-center harmony__color-{{ settings.product_card_overlay_color_scheme }} px-4 py-4 mb-4 text-base font-medium">Quick View</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="product__info mt-4">
                        <table class="table-auto w-full">
                        <tbody>
                            <tr>
                            <td class="border-b border-[#707070] pr-2 py-2">
                                <a href="{{ product.url }}" class="product__title block">
                                    <h3 class="product__title text-[16px] leading-[21px] font-medium">
                                    {{ product.title |  truncate: 13 }}
                                    </h3>
                                </a>
                            </td>
                            <td class="border-b border-[#707070] text-right pl-2">
                                {%- if section.settings.show_price -%}  
                                <h4 class="product__price text-[13px] leading-[17px] text-right">{{ product.price | money }}</h4>
                                {% endif %}
                            </td>
                            </tr>
                            <tr>
                            <td class="pr-2 py-2">
                                {%- if section.settings.show_category -%}
                                {% for collection in product.collections limit: 1 %}
                                    <div class="collection__name bg-transparent harmony__color-{{ section.settings.color_scheme }} text-[14px] leading-[19px] inline-block px-2 py-1.5 border rounded-full collection-title">{{ collection.title }}</div>
                                {% endfor %}
                                {% endif %}
                            </td>
                            <td class="flex items-center justify-end text-right py-2 pl-2">
                                {%- if section.settings.show_reviews -%}
                                <div class="flex items-center justify-end text-[13px]">
                                    <svg class="w-3 flex-shrink-0" x-state-description="undefined: &quot;harmony__color-{{ section.settings.color_scheme }}&quot;, Default: &quot;text-gray-200&quot;" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                                    </svg>
                                    <svg class="w-3 flex-shrink-0" x-state-description="undefined: &quot;harmony__color-{{ section.settings.color_scheme }}&quot;, undefined: &quot;text-gray-200&quot;" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                                    </svg>
                                    <svg class="w-3 flex-shrink-0" x-state-description="undefined: &quot;harmony__color-{{ section.settings.color_scheme }}&quot;, undefined: &quot;text-gray-200&quot;" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                                    </svg>
                                    <svg class= w-3 flex-shrink-0 x-state-description="undefined: &quot;harmony__color-{{ section.settings.color_scheme }}&quot;, undefined: &quot;text-gray-200&quot;" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                                    </svg>
                                    <svg class="text-gray-200 w-3 flex-shrink-0" x-state-description="undefined: &quot;harmony__color-{{ section.settings.color_scheme }}&quot;, undefined: &quot;text-gray-200&quot;" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <span class="sr-only">3.9 out of 5 stars</span>
                                <span class="product__feedback-count ml-3 text-[13px] leading-[17px] hover:text-gray-500">22</span>
                                {% endif %}
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                  </div>
                  {% endpaginate %}
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %} 
  </div>
</section>



{% schema %}
{
  "name": "Collection All",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Content Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_filter",
      "label": "Filter Color Scheme",
      "default": "scheme-2"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show Price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show Category",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_reviews",
      "label": "Show Reviews",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_stock_badge",
      "label": "Enable Stock Badge",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "offer_badge",
      "label": "Sale Badge",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_wishlist",
      "label": "Show Wishlist",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_quick_view",
      "label": "Enable Quick View",
      "default": true
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Products to show?",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Mobile Style"
    },
    {
      "type": "select",
      "id": "mobile_layout",
      "label": "Mobile Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "select",
      "id": "number_of_column",
      "label": "Number of Column",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1",
      "info": "Number of Products in one column on mobile"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Collection All",
      "category": "Harmony Sections"
    }
  ]
}
{% endschema %}
        