{% style %}
    /* Create an faqTabActive/current faq__tablink class */
    section#harmony--{{ section.id }} .faq__tab button.faqTabActive {
      background-color: {{ section.settings.active_tab_color  }};
    }

    /* Style the faq__tab content */
    section#harmony--{{ section.id }} .faq__tabcontent {
      display: none;
    }

    section#harmony--{{ section.id }} .faqAccordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
    section#harmony--{{ section.id }} .accTabActive:after {
      content: "\2212";
    }
    section#harmony--{{ section.id }} .faqPanel {
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }
    .harmony--{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    @media screen and (min-width: 750px) {
      .harmony--{{ section.id }}-padding {
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{% endstyle %}

<section id="harmony--{{ section.id }}" class="section__faq {% if section.settings.enable_gradient %} harmony__color-background-gradient-{{ section.settings.faq_color_scheme }} {% else %} harmony__color-background-{{ section.settings.faq_color_scheme }} {% endif %}">
  <div class="harmony--{{ section.id }}-padding">
    <div class="mx-auto max-w-7xl px-6 md:px-10">
      <div class="mx-auto grid grid-cols-3">
        {%- if section.settings.heading != blank -%}
        <div class="heading text-center md:text-left content-center {% if section.settings.heading != blank %} col-span-3 {% endif %} md:col-span-1">
          <h2 class="tracking-tight {% if settings.heading_font_size == 'sm' %}harmony__faq-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__faq-heading-lg{% else %}harmony__faq-heading-theme-default{% endif %} harmony__color-text-{{ section.settings.faq_color_scheme }} font-semibold">{{ section.settings.heading }}</h2>
        </div>
        {%- endif -%}
        <div class="faq__tab flex overflow-hidden justify-center {% if section.settings.heading == blank %} col-span-3 md:justify-start {% else %} md:justify-end {% endif %}  md:py-6 space-x-5 col-span-3 md:col-span-2 mt-6 md:mt-0">
          {%- for block in section.blocks -%}
            <button class="faq__tablinks harmony__color-primary-button-background-{{ section.settings.faq_color_scheme }} harmony__color-primary-button-label-{{ section.settings.faq_color_scheme }} harmony__color-primary-button-border-{{ section.settings.faq_color_scheme }} hover:bg-[{{ section.settings.active_tab_color }}] border-0 outline-0 cursor-pointer rounded-full px-[20px] py-[5px] transition duration-30 ease-in-out {% if settings.body_font_size == 'sm' %}harmony__faq-btn-sm{% elsif settings.body_font_size == 'lg' %}harmony__faq-btn-lg{% else %}harmony__faq-btn-theme-default{% endif %}" onclick="openFaq(event, '{{ block.settings.tab_label | replace: ' ', '-' }}')" id="faqTabDefaultOpen">{{ block.settings.tab_label | escape }}</button>
          {%- endfor -%}
        </div>
      </div>
      <div class="mx-auto mt-0 md:mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 pt-10 sm:mt-2 sm:pt-2 lg:mx-0 lg:max-w-none lg:grid-cols-1">
        <div class="faq-faqAccordion min-h-[25rem]">
          {%- for block in section.blocks -%}
            <div id="{{ block.settings.tab_label | replace: " ", "-" }}" class="faq__tabcontent px-[6px] py-[0] animate__animated animate__fadeIn animate__slower">
              {%- if block.settings.qtn_1 != blank -%}
                <h4 class="faqAccordion cursor-pointer px-[0] py-[18px] w-full border-b harmony__color-text-{{ section.settings.faq_color_scheme }} harmony__color-border-{{ section.settings.faq_color_scheme }} text-left outline-0 transition duration-40 ease-in-out {% if settings.heading_font_size == 'sm' %}harmony__faq-title-sm{% elsif settings.heading_font_size == 'lg' %}harmony__faq-title-lg{% else %}harmony__faq-title-theme-default{% endif %}">{{ block.settings.qtn_1 }}</h4>
              {%- endif -%}
              {%- if block.settings.ans_1 != blank -%}
                <div class="faqPanel pr-[10px] overflow-hidden">
                  <dd class="block py-3 {% if settings.body_font_size == 'sm' %}harmony__faq-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__faq-content-lg{% else %}harmony__faq-content-theme-default{% endif %} harmony__color-text-{{ section.settings.faq_color_scheme }}">{{ block.settings.ans_1 }}</dd>
                </div>
              {%- endif -%}
              {%- if block.settings.qtn_2 != blank -%}
                <h4 class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b harmony__color-text-{{ section.settings.faq_color_scheme }} harmony__color-border-{{ section.settings.faq_color_scheme }} text-left outline-0 transition duration-40 ease-in-out {% if settings.heading_font_size == 'sm' %}harmony__faq-title-sm{% elsif settings.heading_font_size == 'lg' %}harmony__faq-title-lg{% else %}harmony__faq-title-theme-default{% endif %}">{{ block.settings.qtn_2 }}</h4>
              {%- endif -%}
              {%- if block.settings.ans_2 != blank -%}
                <div class="faqPanel pr-[10px] overflow-hidden">
                  <dd class="block py-3 {% if settings.body_font_size == 'sm' %}harmony__faq-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__faq-content-lg{% else %}harmony__faq-content-theme-default{% endif %} harmony__color-text-{{ section.settings.faq_color_scheme }}">{{ block.settings.ans_2 }}</dd>
                </div>
              {%- endif -%}
              {%- if block.settings.qtn_3 != blank -%}
                <h4 class="faqAccordion cursor-pointer px-[0] py-[18px] w-full border-b harmony__color-text-{{ section.settings.faq_color_scheme }} harmony__color-border-{{ section.settings.faq_color_scheme }} text-left outline-0 transition duration-40 ease-in-out {% if settings.heading_font_size == 'sm' %}harmony__faq-title-sm{% elsif settings.heading_font_size == 'lg' %}harmony__faq-title-lg{% else %}harmony__faq-title-theme-default{% endif %}">{{ block.settings.qtn_3 }}</h4>
              {%- endif -%}
              {%- if block.settings.ans_3 != blank -%}
                <div class="faqPanel pr-[10px] overflow-hidden">
                  <dd class="block py-3 {% if settings.body_font_size == 'sm' %}harmony__faq-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__faq-content-lg{% else %}harmony__faq-content-theme-default{% endif %} harmony__color-text-{{ section.settings.faq_color_scheme }}">{{ block.settings.ans_3 }}</dd>
                </div>
              {%- endif -%}
              {%- if block.settings.qtn_4 != blank -%}
                <h4 class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b harmony__color-text-{{ section.settings.faq_color_scheme }} harmony__color-border-{{ section.settings.faq_color_scheme }} text-left outline-0 transition duration-40 ease-in-out {% if settings.heading_font_size == 'sm' %}harmony__faq-title-sm{% elsif settings.heading_font_size == 'lg' %}harmony__faq-title-lg{% else %}harmony__faq-title-theme-default{% endif %}">{{ block.settings.qtn_4 }}</h4>
              {%- endif -%}
              {%- if block.settings.ans_4 != blank -%}
                <div class="faqPanel pr-[10px] overflow-hidden">
                  <dd class="block py-3 {% if settings.body_font_size == 'sm' %}harmony__faq-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__faq-content-lg{% else %}harmony__faq-content-theme-default{% endif %} harmony__color-text-{{ section.settings.faq_color_scheme }}">{{ block.settings.ans_4 }}</dd>
                </div>
              {%- endif -%}
              {%- if block.settings.qtn_5 != blank -%}
                <h4 class="faqAccordion cursor-pointer px-[0] py-[18px] w-full  border-b harmony__color-text-{{ section.settings.faq_color_scheme }} harmony__color-border-{{ section.settings.faq_color_scheme }} text-left outline-0 transition duration-40 ease-in-out {% if settings.heading_font_size == 'sm' %}harmony__faq-title-sm{% elsif settings.heading_font_size == 'lg' %}harmony__faq-title-lg{% else %}harmony__faq-title-theme-default{% endif %}">{{ block.settings.qtn_5 }}</h4>
              {%- endif -%}
              {%- if block.settings.ans_5 != blank -%}
                <div class="faqPanel pr-[10px] overflow-hidden">
                  <dd class="block py-3 {% if settings.body_font_size == 'sm' %}harmony__faq-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__faq-content-lg{% else %}harmony__faq-content-theme-default{% endif %} harmony__color-text-{{ section.settings.faq_color_scheme }}">{{ block.settings.ans_5 }}</dd>
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}  
        </div>
        <div class="send__msg mx-auto {% if settings.body_font_size == 'sm' %}harmony__faq-btn-sm{% elsif settings.body_font_size == 'lg' %}harmony__faq-btn-lg{% else %}harmony__faq-btn-theme-default{% endif %} harmony__color-text-{{ section.settings.faq_color_scheme }} inline-block text-center border harmony__color-border-{{ section.settings.faq_color_scheme }} rounded-full px-3 py-2">
          <p>{{ section.settings.qtn_txt | escape }} <a href="{{ section.settings.btn_url }}" class="underline">{{ section.settings.btn_txt }}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "FAQ",
  "class": "harmony_section-faq",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "faq_color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "Background Gradient?",
      "default": false
    },
    {
      "type": "color",
      "id": "active_tab_color",
      "label": "Active Tab Color",
      "default": "#626E5C"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Section Heading",
      "default": "Read FAQ's"
    },
    {
      "type": "inline_richtext",
      "id": "qtn_txt",
      "label": "Question Text",
      "default": "Still have a question?"
    },
    {
      "type": "inline_richtext",
      "id": "btn_txt",
      "label": "Button",
      "default": "Send private message"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "faqtab",
      "name": "Faq Tab",
      "limit": 5,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "tab_label",
          "default": "Shipping",
          "label": "Tab label"
        },
        {
          "type": "header",
          "content": "Tab Content"
        },
        {
          "type": "inline_richtext",
          "id": "qtn_1",
          "label": "Question",
          "default": "Are your products suitable for all skin types?"
        },
        {
          "type": "textarea",
          "id": "ans_1",
          "label": "Answer",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        },
        {
          "type": "inline_richtext",
          "id": "qtn_2",
          "label": "Question",
          "default": "Are your products suitable for all skin types?"
        },
        {
          "type": "textarea",
          "id": "ans_2",
          "label": "Answer",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        },
        {
          "type": "inline_richtext",
          "id": "qtn_3",
          "label": "Question",
          "default": "Are your products suitable for all skin types?"
        },
        {
          "type": "textarea",
          "id": "ans_3",
          "label": "Answer",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
        },
        {
          "type": "inline_richtext",
          "id": "qtn_4",
          "label": "Question"
        },
        {
          "type": "textarea",
          "id": "ans_4",
          "label": "Answer"
        },
        {
          "type": "inline_richtext",
          "id": "qtn_5",
          "label": "Question"
        },
        {
          "type": "textarea",
          "id": "ans_5",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "category": "Harmony Sections",
      "blocks": [
        {
          "type": "faqtab"
        },
        {
          "type": "faqtab"
        },
        {
          "type": "faqtab"
        }
      ]
    }
  ]
}
{% endschema %}


{% comment %} script for faqAccordion  {% endcomment %}
<script>
    var faqAcc = document.getElementsByClassName("faqAccordion");
    var i;

    for (i = 0; i < faqAcc.length; i++) {
        faqAcc[i].addEventListener("click", function() {
            this.classList.toggle("accTabActive");
            var faqPanel = this.nextElementSibling;
            if (faqPanel.style.maxHeight) {
                faqPanel.style.maxHeight = null;
            } else {
                faqPanel.style.maxHeight = faqPanel.scrollHeight + "px";
            }
        });
    }
</script>


{% comment %} script for tabs  {% endcomment %}
<script>
    function openFaq(faq__evt, tabName) {
        var i, faq__tabcontent, faq__tablinks;
        faq__tabcontent = document.getElementsByClassName("faq__tabcontent");
        for (i = 0; i < faq__tabcontent.length; i++) {
            faq__tabcontent[i].style.display = "none";
        }
        faq__tablinks = document.getElementsByClassName("faq__tablinks");
        for (i = 0; i < faq__tablinks.length; i++) {
            faq__tablinks[i].className = faq__tablinks[i].className.replace(" faqTabActive", "");
        }
        document.getElementById(tabName).style.display = "block";
        faq__evt.currentTarget.className += " faqTabActive";
    }

    // Get the element with id="faqTabDefaultOpen" and click on it
    document.getElementById("faqTabDefaultOpen").click();
</script>
