<style>
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
    section#harmony--{{ section.id }} .featured__collection-tab button.active {
        padding-left: 60px;
        transition: 0.5s;
        opacity: 1;
    }
    #harmony--{{ section.id }} .featured__collection-tab button.active::before {
        content: "\2212";
        font-size: 50px;
        font-weight: 100;
        line-height: 1;
        margin-left: -17px;
    }

    @media only screen and ( max-width: 1024px ){
        #harmony--{{ section.id }} .featured__collection-tab button.active::before {
            font-size: 36px;
        }
    }

    @media only screen and ( max-width: 600px ){
        section#harmony--{{ section.id }} .featured__collection-tab button.active {
            padding-left: 40px;
            transition: 0.5s;
        }
        .section-{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        #harmony--{{ section.id }} .featured__collection-tab button.active::before {
            font-size: 24px;
        }
    }

</style>


<section id="harmony--{{ section.id }}" class="section__featured-collection {% if section.settings.enable_gradient %} harmony__color-background-gradient-{{ section.settings.fcoll_color_scheme }} {% else %} harmony__color-background-{{ section.settings.fcoll_color_scheme }} {% endif %} section-{{ section.id }}-padding">
    <div class="mx-auto grid max-w-7xl grid-cols-1 items-center gap-x-8 gap-y-5 px-6 py-5 sm:py-5 md:grid-cols-2 md:px-10">
        <div class="featured__collection-tab-wrapper flex flex-nowrap gap-x-0 gap-y-0 justify-start items-center">
            <div class="featured__collection-tab">
                {% for block in section.blocks %}
                    <button class="categoryLinks block mb-[25px] px-15 py-0 w-full harmony__color-text-{{ section.settings.fcoll_color_scheme }} border-b harmony__color-border-{{ section.settings.fcoll_color_scheme }} outline-none text-left cursor-pointer text-[24px] leading-1 md:text-[36px] md:leading-1 lg:text-[50px] lg:leading-[96px] opacity-30 font-semibold hover:border-b-2 hover:harmony__color-text-{{ section.settings.fcoll_color_scheme }} transition ease-in-out delay-50" onmouseover="openCategory(event, '{{ block.settings.collection.handle }}')" {% if forloop.index == 1 %} id="defaultCatsOpen"{% endif %}>{{ block.settings.collection.title }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="featured__collection-content flex flex-nowrap gap-x-0 gap-y-0 justify-center lg:justify-end items-center">
            {% for block in section.blocks %}
                <div id="{{ block.settings.collection.handle }}" class="categoryContent grid grid-cols-2 grid-rows-2 gap-2 sm:gap-4 lg:gap-6">
                    {%- for product in block.settings.collection.products limit: 4 -%}
                        <a href="{{ product.url }}" class="product__title block bg-[url('{{ product.featured_media | image_url }}')] bg-scroll bg-center bg-no-repeat bg-contain border border-none outline-none w-[160px] h-[160px] lg:h-[240px] lg:w-[250px] rounded-lg bg-transparent animate__animated animate__fadeIn animate__sloweranimate__animated animate__fadeIn animate__slower">
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>

   

{% schema %}
    {
        "name": "Featured Collection",
        "class": "harmony_section-featured-collection",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "header",
                "content": "Section Style"
            },
            {
                "type": "color_scheme",
                "id": "fcoll_color_scheme",
                "label": "Color scheme",
                "default": "scheme-1"
            },
            {
                "type": "checkbox",
                "id": "enable_gradient",
                "label": "Background Gradient?",
                "default": false
            },
            {
                "type": "header",
                "content": "Section padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding Top",
                "default": 36
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding Bottom",
                "default": 36
            }
    
        ],
        "blocks":[
            {
                "type":"block",
                "name": "Collection",
                "settings": [
                    {
                        "type": "collection",
                        "id": "collection",
                        "label": "Collection"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Featured Collection",
                "category": "Harmony Sections"
            }
        ]
    }
{% endschema %}



<script>
    function openCategory(evt, categoryName) {
        var i, categoryContent, categoryLinks;
        categoryContent = document.getElementsByClassName("categoryContent");
        for (i = 0; i < categoryContent.length; i++) {
            categoryContent[i].style.display = "none";
        }
        categoryLinks = document.getElementsByClassName("categoryLinks");
        for (i = 0; i < categoryLinks.length; i++) {
            categoryLinks[i].className = categoryLinks[i].className.replace(" active", "");
        }
        document.getElementById(categoryName).style.display = "grid";
        evt.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultCatsOpen").dispatchEvent(new Event('mouseover'));
</script>