<style>
    /* Style the buttons inside the ftCats_tab */
    section#harmony--{{ section.id }} .ftCats_tab button {
        margin-bottom: 25px;
        transition: 0.5s;
    }

    /* Create an active/current "ftCats_tab button" class */
    section#harmony--{{ section.id }} .ftCats_tab button.active {
        padding-left: 60px;
        border-bottom: 1px solid #e6e6e6;
        transition: 0.5s;
        opacity: 1;
    }
    section#harmony--{{ section.id }} .ftCats_tab button.active::before {
        content: "\2212";
        font-size: 60px;
        font-weight: 100;
        line-height: 1.8;
        color: #e6e6e6;
        margin-left: -17px;
    }

    @media only screen and ( max-width: 600px ){
        section#harmony--{{ section.id }} .ftCats_tab button {
            transition: none;
        }
        section#harmony--{{ section.id }} .ftCats_tab button.active {
            font-size: 36px;
            padding-left: 40px;
            transition: none;
        }
    }

</style>
<div class="color-{{ section.settings.color_scheme }} isolate gradient">
<section id="harmony--{{ section.id }}" class="bg-[#fffaf4] py-5 sm:py-5 min-h-[500px]">

    <div class="mx-auto grid max-w-7xl grid-cols-1 items-center gap-x-8 gap-y-5 px-6 py-5 sm:py-5 md:grid-cols-2 md:px-10">
        <div class="flex flex-nowrap gap-x-0 gap-y-0 justify-start items-center">
            <div class="ftCats_tab">
                {% for block in section.blocks %}
                    <button class="categoryLinks block px-15 py-0 w-full border-b border-[#e6e6e6] outline-none text-left cursor-pointer text-[26px] lg:text-[50px] lg:leading-[96px] text-[#000000] opacity-30 font-semibold hover:text-black hover:font-semibold hover:border-b-2 hover:border-gray-300" onmouseover="openCategory(event, '{{ block.settings.collection.handle }}')" {% if forloop.index == 1 %} id="defaultCatsOpen"{% endif %}>{{ block.settings.collection.title }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-nowrap gap-x-0 gap-y-0 justify-start lg:justify-end items-center">
            {% for block in section.blocks %}
                <div id="{{ block.settings.collection.handle }}" class="categoryContent grid grid-cols-2 grid-rows-2 gap-2 sm:gap-4 lg:gap-6">
                    {%- for product in block.settings.collection.products limit: 4 -%}
                        <div class="bg-[url('{{ product.featured_media | image_url }}')] bg-scroll bg-center bg-no-repeat bg-contain border border-none outline-none w-[160px] h-[160px] lg:h-[300px] lg:w-[250px] rounded-lg bg-transparent animate__animated animate__fadeIn animate__sloweranimate__animated animate__fadeIn animate__slower"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        
    </div>

</section>
</div>


<script>
    function openCategory(evt, categoryName) {
        var i, categoryContent, categoryLinks;
        categoryContent = document.getElementsByClassName("categoryContent");
        for (i = 0; i < categoryContent.length; i++) {
            categoryContent[i].style.display = "none";
        }
        categoryLinks = document.getElementsByClassName("categoryLinks");
        for (i = 0; i < categoryLinks.length; i++) {
            categoryLinks[i].className = categoryLinks[i].className.replace(" active", "");
        }
        document.getElementById(categoryName).style.display = "grid";
        evt.currentTarget.className += " active";
    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultCatsOpen").dispatchEvent(new Event('mouseover'));
</script>
   

{% schema %}
{
    "name": "Featured Collection",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color scheme",
            "info": "To edit all your theme's colors, go to your color theme settings.",
            "default": "background-1"
        }
   
    ],
    "blocks":[
        {
          "type":"block",
          "name": "Collection",
          "settings": [
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            }
          ]
        }
    ],
    "presets": [
        {
            "name": "Featured Collection",
            "category": "Harmony Sections"
        }
    ]
 }
{% endschema %}