{%- style -%}
    .hermony--{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  
    @media screen and (min-width: 750px) {
      .hermony--{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }  
    }
  {%- endstyle -%}

  <section id="hermony--{{ section.id }}" class="section__focal {% if section.settings.enable_gradient %}harmony__color-background-gradient-{{ section.settings.focal_color_scheme }}{% else %}harmony__color-background-{{ section.settings.focal_color_scheme }}{% endif %}">
    <div class="overflow-hidden hermony--{{ section.id }}-padding">
      <div class="mx-auto max-w-7xl px-6 md:px-10">
        <div class="mx-auto justify-center items-center max-w-2xl grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="focal__content lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              {% if section.settings.caption != blank %}
                <label class="label inline harmony__color-text-{{ section.settings.focal_color_scheme }} {% if settings.body_font_size == 'sm' %}harmony__focal-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__focal-content-lg{% else %}harmony__focal-content-theme-default{% endif %} border harmony__color-border-{{ section.settings.focal_color_scheme }} rounded-full px-2 py-22"> {{ section.settings.caption }}
                </label>
              {% endif %}                        
              {% if section.settings.heading != blank %}
                <h2 class="focal__heading harmony__color-text-{{ section.settings.focal_color_scheme }} {% if settings.heading_font_size == 'sm' %}harmony__focal-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__focal-heading-lg{% else %}harmony__focal-heading-theme-default{% endif %} tracking-tight mt-[22px]">{{ section.settings.heading | escape }}</h2> 
              {% endif %}   
              {% if section.settings.desc != blank %}
                <dd class="content harmony__color-text-{{ section.settings.focal_color_scheme }} {% if settings.body_font_size == 'sm' %}harmony__focal-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__focal-content-lg{% else %}harmony__focal-content-theme-default{% endif %} mt-[26px]">{{ section.settings.desc }}</dd>
              {% endif %}
              <dl class="content__list max-w-xl lg:max-w-none mt-[19px]">
                <div class="grid grid-cols-2 gap-4 gap-y-3">
                 {% for block in section.blocks %}
                    {% if 'bullet' %}
                    <div class="group relative flex gap-x-4">
                      <dt class="list_icon inline-block harmony__color-icon-{{ section.settings.focal_color_scheme }}">
                        {% if block.settings.list_icon_custom != blank %}
                          {{ block.settings.list_icon_custom }}
                        {% else %}
                          {% if block.settings.list_icons == 'check'  %}
                            {% render 'icon-check' %}
                          {% elsif block.settings.list_icons == 'chieldcheck'  %}
                            {% render 'icon-shield-check' %}
                          {% elsif block.settings.list_icons == 'circlenot'  %}
                            {% render 'icon-circle-not' %}
                          {% elsif block.settings.list_icons == 'circleinfo'  %}
                            {% render 'icon-circle-info' %}
                          {% elsif block.settings.list_icons == 'circlecheck'  %}
                            {% render 'icon-circle-check' %}
                          {% elsif block.settings.list_icons == 'circlestop'  %}
                            {% render 'icon-circle-stop' %}
                          {% else  %}
                            {% render 'icon-circle-arrow-right' %}
                          {% endif %}
                        {% endif %}
                      </dt>
                      <dd class="list_text harmony__color-text-{{ section.settings.focal_color_scheme }} {% if settings.body_font_size == 'sm' %}harmony__focal-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__focal-content-lg{% else %}harmony__focal-content-theme-default{% endif %}">{{ block.settings.list_text }}</dd>
                    </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </dl>
            </div>
          </div>
          <div class="focal__image w-100 h-100 relative {% if section.settings.image_position == 'left' %} order-first {% else %} order-first lg:order-last {% endif %}">
            <span data-tooltip-target="tooltip-animation-2" class="focal__point-1 z-10 bg-[{{ section.settings.focal_1_bg }}] absolute top-[{{ section.settings.focal_1_position_top_mob }}%] left-[{{ section.settings.focal_1_position_left_mob }}%] lg:top-[{{ section.settings.focal_1_position_top }}%] lg:left-[{{ section.settings.focal_1_position_left }}%] h-{{ section.settings.focal_1_size }} w-{{ section.settings.focal_1_size }} border rounded-full"></span>
            <dd id="tooltip-animation-2" role="tooltip" class="absolute z-10 invisible max-w-[200px] inline-block harmony__color-primary-button-label-{{ section.settings.focal_color_scheme }} harmony__color-primary-button-background-{{ section.settings.focal_color_scheme }} harmony__color-primary-button-border-{{ section.settings.focal_color_scheme }} {% if settings.body_font_size == 'sm' %}harmony__focal-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__focal-content-lg{% else %}harmony__focal-content-theme-default{% endif %} px-3 py-2 transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip">
              {{ section.settings.focal_txt_1 }}
              <div class="tooltip-arrow" data-popper-arrow></div>
            </dd>
            {% if section.settings.image != blank %}
              {{ section.settings.image | image_url: width: '500', height: '500' | image_tag: class: 'transition ease-in-out delay-150 hover:-translate-y-1 object-cover' }}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'w-50 h-50 transition ease-in-out delay-150 hover:-translate-y-1 object-cover' }}
            {% endif %}
            <span data-tooltip-target="tooltip-animation-1" class="focal__point-2 z-10 bg-[{{ section.settings.focal_2_bg }}] absolute top-[{{ section.settings.focal_2_position_top_mob }}%] left-[{{ section.settings.focal_2_position_left_mob }}%] lg:top-[{{ section.settings.focal_2_position_top }}%] lg:left-[{{ section.settings.focal_2_position_left }}%] h-{{ section.settings.focal_2_size }} w-{{ section.settings.focal_2_size }} border rounded-full"></span>
            <dd id="tooltip-animation-1" role="tooltip" class="absolute z-10 invisible max-w-[200px] inline-block harmony__color-secondary-button-label-{{ section.settings.focal_color_scheme }} harmony__color-secondary-button-background-{{ section.settings.focal_color_scheme }} harmony__color-secondary-button-border-{{ section.settings.focal_color_scheme }} {% if settings.body_font_size == 'sm' %}harmony__focal-content-sm{% elsif settings.body_font_size == 'lg' %}harmony__focal-content-lg{% else %}harmony__focal-content-theme-default{% endif %} px-3 py-2 transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip">
              {{ section.settings.focal_txt_2 }}
              <div class="tooltip-arrow" data-popper-arrow></div>
            </dd>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  {% schema %} 
  {
    "name": "Focal",
    "class": "harmony_section-focal",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color_scheme",
        "id": "focal_color_scheme",
        "label": "Section Background",
        "default": "scheme-1"
      },
      {
        "type": "checkbox",
        "id": "enable_gradient",
        "label": "Background Gradient?",
        "default": false
      },
      {
        "type":"inline_richtext",
        "id":"caption",
        "label":"Caption",
        "default":"Happy Customer"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Delivering the highest quality products."
      },
      {
        "type":"textarea",
        "id":"desc",
        "label":"Content",
        "default": "<p>Swiss was born from a passion for skincare and a belief in the transformative power of self-care. Founded by Daniel Moss in 1981, our brand has grown from a small idea to a thriving skincare community.</p>"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Upload or select an image"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
      {
        "type": "header",
        "content": "Image Focal Point"
      },
      {
        "type": "color",
        "id": "focal_1_bg",
        "label": "Focal 1 Color",
        "default": "#fefefe"
      },
      {
        "type":"textarea",
        "id":"focal_txt_1",
        "label":"Tooltip Text",
        "default": "<p>I am the text for focal point. you can explain me using this text here.</p>"
      },
      {
        "type": "range",
        "id": "focal_1_size",
        "min": 5,
        "max": 30,
        "step": 1,
        "unit": "ren",
        "label": "Focal 1 Size",
        "default": 5
      },
      {
        "type": "range",
        "id": "focal_1_position_top",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Focal 1 position top",
        "default": 30
      },
      {
        "type": "range",
        "id": "focal_1_position_left",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Focal 1 position left",
        "default": 30
      },
      {
        "type": "color",
        "id": "focal_2_bg",
        "label": "Focal 2 Color",
        "default": "#fefefe"
      },
      {
        "type":"textarea",
        "id":"focal_txt_2",
        "label":"Tooltip Text",
        "default": "<p>I am the text for focal point. you can explain me using this text here.</p>"
      },
      {
        "type": "range",
        "id": "focal_2_size",
        "min": 5,
        "max": 30,
        "step": 1,
        "unit": "rem",
        "label": "Focal 2 Size",
        "default": 5
      },
      {
        "type": "range",
        "id": "focal_2_position_top",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Focal 2 position top",
        "default": 30
      },
      {
        "type": "range",
        "id": "focal_2_position_left",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Focal 1 position left",
        "default": 30
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 36
      },
      {
        "type": "header",
        "content": "Mobile Specific"
      },
      {
        "type": "range",
        "id": "focal_1_position_top_mob",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Focal 1 position top",
        "default": 30
      },
      {
        "type": "range",
        "id": "focal_1_position_left_mob",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Focal 1 position left",
        "default": 30
      },
      {
        "type": "range",
        "id": "focal_2_position_top_mob",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Focal 2 position top",
        "default": 30
      },
      {
        "type": "range",
        "id": "focal_2_position_left_mob",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "%",
        "label": "Focal 2 position left",
        "default": 30
      }
    ],
    "blocks": [
      {
        "type":"bullet",
        "name": "bulet points",
        "limit": 8,
        "settings": [
          {
            "type": "select",
            "id": "list_icons",
            "label": "List Icon",
            "options": [
              {
                "value": "check",
                "label": "Check"
              },
              {
                "value": "chieldcheck",
                "label": "Shield Check"
              },
              {
                "value": "circlenot",
                "label": "Circle Not"
              },
              {
                "value": "circleinfo",
                "label": "Circle Info"
              },
              {
                "value": "circlecheck",
                "label": "Circle Check"
              },
              {
                "value": "circlestop",
                "label": "Circle Stop"
              },
              {
                "value": "circlearrowright",
                "label": "Circle Arrow Right"
              }
            ],
            "default": "check",
            "info": "Select list Icon from the dropdown"
          },
          {
            "type": "textarea",
            "id": "list_icon_custom",
            "label": "Custom SVG Icon",
            "info": "Add code for Custom SVG Icon"
          },
          {
            "type": "text",
            "id": "list_text",
            "label": "Text",
            "default": "Bullet Point"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Focal",
        "category": "Harmony Sections"
      }
    ]
  }
  {% endschema %}
  
