{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
  
    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }  
    }
  {%- endstyle -%}
  <section id="hermony--{{ section.id }}" class="section__focal harmony__color-{{ section.settings.color_scheme }}">
      <div class="overflow-hidden section-{{ section.id }}-padding">
          <div class="mx-auto max-w-7xl px-6 md:px-10">
              <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 {% if section.settings.image_position == 'left' %} flex-row-reverse {% endif %}">
                  <div class="focal__content lg:pr-8 lg:pt-4">
                      <div class="lg:max-w-lg">
                          {% if section.settings.tag != blank %}
                              <span class="label inline text-[14px] leading-[19px]  font-normal border border-[{{ section.settings.border_color }}] rounded-full px-2 py-22"> {{ section.settings.tag }}
                              </span>
                        {% endif %}                        
                        
                        {% if section.settings.title != blank %}
                          <h2 class="heading text-[27px] leading-[36px] lg:text-[50px] lg:leading-[56px] font-semibold  mt-[22px] tracking-tight">{{ section.settings.title }}</h2> 
                      {% endif %}   
  
                          <div class="content text-[14px] leading-[19px] font-normal mt-[26px]">{{ section.settings.text }}</div>
                          <dl class="content__list max-w-xl lg:max-w-none mt-[19px]">
                              <div class="grid grid-cols-2 gap-4 gap-y-3">
                                  {% for block in section.blocks %}
                                      {% if 'bullet' %}
                                  <div class="relative pl-9">
                                      <dt class="inline-block pt-[3px] text-[14px] leading-[19px]  font-normal">
                                          {% if block.settings.svg != blank %}
                                              {{ block.settings.svg }}
                                            {% endif %}
                                            {{ block.settings.alt }}
                                      </dt>
                                  </div>
                              {% endif %}
                          {% endfor %}
                                
                              </div>
                          </dl>
                      </div>
                  </div>
                  <div class="focal__image w-100 h-100 relative">
                      <span class="focal__point-1 bg-blue-600 animate-ping absolute top-[7rem] left-[10rem] lg:top-[15rem] lg:left-[8rem] h-5 w-5 border-2-white rounded-full"></span>
                      <img src="{{   section.settings.image |img_url : 'master' }}" alt="Product screenshot" class="transition ease-in-out delay-150 hover:-translate-y-1 object-cover h-100 w-1000">
                      <span class="focal__point-2 bg-red-600 animate-ping absolute top-[8rem] right-[16rem] lg:top-[14rem] lg:right-[16rem] h-5 w-5 border-2-white rounded-full"></span>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  
  {% schema %} 
  {
      "name": "Focal",
      "class": "harmony_section-focal",
      "disabled_on": {
        "groups": ["header", "footer"]
      },
      "settings": [
          {
              "type":"text",
              "id":"tag",
              "label":"Tag",
              "default":"Happy Customer"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Delivering the highest quality products."
            },
            {
              "type":"richtext",
              "label":"Text",
              "id":"text"
            },
             {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image",
                  "info": "Upload or select an image"
                },
        {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
          {
              "type": "color_scheme",
              "id": "color_scheme",
              "label": "Harmony Color Scheme",
              "default": "scheme-1"
          },
          {
              "type": "color",
              "id": "border_color",
              "label": "Border Color",
              "default": "#626E5C"
          },
          {
              "type": "header",
              "content": "Section padding"
          },
          {
              "type": "range",
              "id": "padding_top",
              "min": 0,
              "max": 100,
              "step": 4,
              "unit": "px",
              "label": "Padding Top",
              "default": 36
          },
          {
              "type": "range",
              "id": "padding_bottom",
              "min": 0,
              "max": 100,
              "step": 4,
              "unit": "px",
              "label": "Padding Bottom",
              "default": 36
          }
      ],
      
   "blocks": [
     {
  
       "type":"bullet",
       "name": "bulet points",
       "settings": [
         {
           "type": "textarea",
           "id": "svg",
           "label": "SVG",
           "info": "Add code for SVG"
         },
         {
           "type": "text",
           "id": "alt",
           "label": "Text",
           "default": "Bullet Point"
         }
       ]
     }
   ],
      "presets": [
          {
              "name": "Focal",
              "category": "Harmony Sections"
          }
      ]
  }
  {% endschema %}
  
  
  {% comment %} schema settings color style  {% endcomment %}
  {% for scheme in settings.color_schemes %}
      {% style %} 
          .harmony__color-{{ scheme.id }}{
              background: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
              color: rgb({{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }});
          }
      {% endstyle %} 
  {% endfor %}
  
  {% comment %} signature: latest file  {% endcomment %}