{% style %}
  .harmony--{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .harmony--{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<footer
  id="harmony--{{ section.id }}"
  class="section__footer harmony__color-text-{{ section.settings.footer_color_scheme }} {% if section.settings.enable_gradient %} harmony__color-background-gradient-{{ section.settings.footer_color_scheme }} {% else %} harmony__color-background-{{ section.settings.footer_color_scheme }} {% endif %} harmony--{{ section.id }}-padding"
>
  <div class="footer__main relative">
    <div class="mx-auto max-w-7xl px-6 md:px-10">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-5  section-padding{{ section.id }}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'subscribe' %}
              <div class="footer__about grid grid-cols-1 w-full lg:w-1/2 gap-x-8">
                <div class="group relative text-base sm:text-[14px]">
                  <div class="subscription">
                    <label
                      id="footer__label"
                      class="inline-block {% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal border rounded-full harmony__color-text-{{ section.settings.footer_color_scheme }} harmony__color-background-{{ section.settings.footer_color_scheme }} harmony__color-border-{{ section.settings.footer_color_scheme }} px-4 py-1 mb-3"
                    >
                      {{ block.settings.heading }}
                    </label>
                    <dd aria-hidden="true" class="{% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal my-4">
                      {{ block.settings.text }}
                    </dd>
                    <div class="mt-6 flex max-w-md gap-x-1">
                      <label for="email-address" class="sr-only px-0">Email address</label>
                      <input
                        id="email-address"
                        name="email"
                        type="email"
                        autocomplete="email"
                        required="required"
                        class="min-w-0 flex-auto border-0 border-b harmony__color-border-{{ section.settings.footer_color_scheme }} bg-transparent px-0 py-2 focus:ring-0 focus:harmony__color-border-{{ section.settings.footer_color_scheme }} focus:outline-none focus:border-b-1 {% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal opacity-50" placeholder="Enter your email address">
                      <button type="submit" class="flex-none">
                        <span class="border rounded-full harmony__color-text-{{ section.settings.footer_color_scheme }} harmony__color-background-{{ section.settings.footer_color_scheme }} harmony__color-border-{{ section.settings.footer_color_scheme }} px-[6px] py-[5px] transition">→</span>
                      </button>
                    </div>
                  </div>
                  {% if block.settings.social_icons == 'show' %}
                    <div class="footer__social mx-auto mt-3">
                      <div class="mt-8 flex">
                        <a href="#" class="hover:text-gray-500">
                          <span class="sr-only">Facebook</span>
                          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#" class="ml-6 hover:text-gray-500">
                          <span class="sr-only">Instagram</span>
                          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd"/>
                          </svg>
                        </a>
                        <a href="#" class="ml-6 hover:text-gray-500">
                          <span class="sr-only">Twitter</span>
                          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                          </svg>
                        </a>
                        <a href="#" class="ml-6 hover:text-gray-500">
                          <span class="sr-only">GitHub</span>
                          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
                          </svg>
                        </a>
                        <a href="#" class="ml-6 hover:text-gray-500">
                          <span class="sr-only">Dribbble</span>
                          <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10c5.51 0 10-4.48 10-10S17.51 2 12 2zm6.605 4.61a8.502 8.502 0 011.93 5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416 25.416 0 00-.564-1.236c3.145-1.28 4.577-3.124 4.761-3.362zM12 3.475c2.17 0 4.154.813 5.662 2.148-.152.216-1.443 1.941-4.48 3.08-1.399-2.57-2.95-4.675-3.189-5A8.687 8.687 0 0112 3.475zm-3.633.803a53.896 53.896 0 013.167 4.935c-3.992 1.063-7.517 1.04-7.896 1.04a8.581 8.581 0 014.729-5.975zM3.453 12.01v-.26c.37.01 4.512.065 8.775-1.215.25.477.477.965.694 1.453-.109.033-.228.065-.336.098-4.404 1.42-6.747 5.303-6.942 5.629a8.522 8.522 0 01-2.19-5.705zM12 20.547a8.482 8.482 0 01-5.239-1.8c.152-.315 1.888-3.656 6.703-5.337.022-.01.033-.01.054-.022a35.318 35.318 0 011.823 6.475 8.4 8.4 0 01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084 2.679-.423 5.022.271 5.314.369a8.468 8.468 0 01-3.655 5.715z" clip-rule="evenodd" />
                          </svg>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
        <div class="footer__nav grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-x-4 lg:gap-x-6 gap-y-5 lg:gap-y-8">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'menu' %}
                <div class="footer__links">
                  <div class="footer__title group">
                    <label id="footer__label"
                      class="inline-block {% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal border rounded-full harmony__color-text-{{ section.settings.footer_color_scheme }} harmony__color-background-{{ section.settings.footer_color_scheme }} harmony__color-border-{{ section.settings.footer_color_scheme }} px-4 py-1 mb-3">
                      {{ block.settings.title }}
                    </label>
                    <div aria-hidden="true" class="my-4">
                      <nav class="list-none">
                        <ul
                          role="list"
                          aria-labelledby="Accessories-heading"
                          class="space-y-6 sm:space-y-4 {% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal mt-[33px]"
                        >
                          {% for link in block.settings.menu.links %}
                            <li class="flex">
                              <a href="{{ link.url }}" class="hover:opacity-50">
                                {{ link.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              {% when 'brand' %}
                <div class="footer__column">
                  <label
                    id="footer__label"
                    class="inline-block {% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal border rounded-full harmony__color-text-{{ section.settings.footer_color_scheme }} harmony__color-background-{{ section.settings.footer_color_scheme }} harmony__color-border-{{ section.settings.footer_color_scheme }} px-4 py-1"
                  >
                    Contact
                  </label>
                  <div aria-hidden="true" class="{% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal mt-[33px]">
                    <address>{{ block.settings.address }}</address>
                  </div>
                  {% if block.settings.contact_label != blank %}
                    <label class="block {% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal opacity-50 hover:opacity-100 mt-[33px]">
                      Need help?
                    </label>
                    <a href="#" class="block {% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal hover:opacity-50">
                      {{ block.settings.contact_label }}
                    </a>
                  {% endif %}
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer__payment py-[40px] border-t harmony__color-border-{{ section.settings.footer_color_scheme }}">
    <div class="mx-auto max-w-7xl px-6 md:px-10">
      <dl class="grid grid-cols-1 gap-x-4 lg:gap-x-8 gap-y-6 lg:gap-y-16 text-center lg:grid-cols-2">
        <div class="footer__lang-currency relative flex items-center justify-center lg:justify-start gap-x-4">
          <div class="grid grid-cols-2 gap-x-2 lg:grid-cols-2">
            {% if section.settings.language_c %}
              <div class="mt-2">
                <select
                  id="country"
                  name="country"
                  autocomplete="country-name"
                  class="language__selection block w-full border-0 bg-transparent py-1.5 {% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal ring-0 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:max-w-xs">
                  <option class="harmony__color-{{ section.settings.footer_color_scheme }}">English</option>
                  <option class="harmony__color-{{ section.settings.footer_color_scheme }}">Canada</option>
                  <option class="harmony__color-{{ section.settings.footer_color_scheme }}">Mexico</option>
                </select>
              </div>
            {% endif %}
            {% if section.settings.currency_c %}
              <div class="mt-2">
                <select
                  id="currency"
                  name="currency"
                  autocomplete="currency-name"
                  class="currency__selection block w-full border-0 bg-transparent py-1.5 {% if settings.body_font_size == 'sm' %}harmony__footer-sm{% elsif settings.body_font_size == 'lg' %}harmony__footer-lg{% else %}harmony__footer-theme-default{% endif %} font-normal ring-0 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:max-w-xs">
                  <option class="harmony__color-{{ section.settings.footer_color_scheme }}">USD</option>
                  <option class="harmony__color-{{ section.settings.footer_color_scheme }}">BGP</option>
                  <option class="harmony__color-{{ section.settings.footer_color_scheme }}">TK</option>
                </select>
              </div>
            {% endif %}
          </div>
        </div>
        {% if section.settings.payment_i %}
          <div class="footer__payment relative flex items-center justify-center lg:justify-end gap-x-10 lg:gap-x-4 mx-3 lg:mx-0">
            <ul class="list-payment__icon flex justify-center items-center gap-x-4" role="list">
              <li>
                <svg
                  class="icon icon--full-color"
                  viewBox="0 0 38 24"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  width="38"
                  height="24"
                  aria-labelledby="pi-visa"
                >
                  <title id="pi-visa">Visa</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M28.3 10.1H28c-.4 1-.7 1.5-1 3h1.9c-.3-1.5-.3-2.2-.6-3zm2.9 5.9h-1.7c-.1 0-.1 0-.2-.1l-.2-.9-.1-.2h-2.4c-.1 0-.2 0-.2.2l-.3.9c0 .1-.1.1-.1.1h-2.1l.2-.5L27 8.7c0-.5.3-.7.8-.7h1.5c.1 0 .2 0 .2.2l1.4 6.5c.1.4.2.7.2 1.1.1.1.1.1.1.2zm-13.4-.3l.4-1.8c.1 0 .2.1.2.1.7.3 1.4.5 2.1.4.2 0 .5-.1.7-.2.5-.2.5-.7.1-1.1-.2-.2-.5-.3-.8-.5-.4-.2-.8-.4-1.1-.7-1.2-1-.8-2.4-.1-3.1.6-.4.9-.8 1.7-.8 1.2 0 2.5 0 3.1.2h.1c-.1.6-.2 1.1-.4 1.7-.5-.2-1-.4-1.5-.4-.3 0-.6 0-.9.1-.2 0-.3.1-.4.2-.2.2-.2.5 0 .7l.5.4c.4.2.8.4 1.1.6.5.3 1 .8 1.1 1.4.2.9-.1 1.7-.9 2.3-.5.4-.7.6-1.4.6-1.4 0-2.5.1-3.4-.2-.1.2-.1.2-.2.1zm-3.5.3c.1-.7.1-.7.2-1 .5-2.2 1-4.5 1.4-6.7.1-.2.1-.3.3-.3H18c-.2 1.2-.4 2.1-.7 3.2-.3 1.5-.6 3-1 4.5 0 .2-.1.2-.3.2M5 8.2c0-.1.2-.2.3-.2h3.4c.5 0 .9.3 1 .8l.9 4.4c0 .1 0 .1.1.2 0-.1.1-.1.1-.1l2.1-5.1c-.1-.1 0-.2.1-.2h2.1c0 .1 0 .1-.1.2l-3.1 7.3c-.1.2-.1.3-.2.4-.1.1-.3 0-.5 0H9.7c-.1 0-.2 0-.2-.2L7.9 9.5c-.2-.2-.5-.5-.9-.6-.6-.3-1.7-.5-1.9-.5L5 8.2z" fill="#142688"></path>
                </svg>
              </li>
              <li>
                <svg
                  class="icon icon--full-color"
                  viewBox="0 0 38 24"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  width="38"
                  height="24"
                  aria-labelledby="pi-master"
                >
                  <title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path>
                </svg>
              </li>
              <li>
                <svg
                  class="icon icon--full-color"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-labelledby="pi-american_express"
                  viewBox="0 0 38 24"
                  width="38"
                  height="24"
                >
                  <title id="pi-american_express">American Express</title><path fill="#000" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3Z" opacity=".07"></path><path fill="#006FCF" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32Z"></path><path fill="#FFF" d="M22.012 19.936v-8.421L37 11.528v2.326l-1.732 1.852L37 17.573v2.375h-2.766l-1.47-1.622-1.46 1.628-9.292-.02Z"></path><path fill="#006FCF" d="M23.013 19.012v-6.57h5.572v1.513h-3.768v1.028h3.678v1.488h-3.678v1.01h3.768v1.531h-5.572Z"></path><path fill="#006FCF" d="m28.557 19.012 3.083-3.289-3.083-3.282h2.386l1.884 2.083 1.89-2.082H37v.051l-3.017 3.23L37 18.92v.093h-2.307l-1.917-2.103-1.898 2.104h-2.321Z"></path><path fill="#FFF" d="M22.71 4.04h3.614l1.269 2.881V4.04h4.46l.77 2.159.771-2.159H37v8.421H19l3.71-8.421Z"></path><path fill="#006FCF" d="m23.395 4.955-2.916 6.566h2l.55-1.315h2.98l.55 1.315h2.05l-2.904-6.566h-2.31Zm.25 3.777.875-2.09.873 2.09h-1.748Z"></path><path fill="#006FCF" d="M28.581 11.52V4.953l2.811.01L32.84 9l1.456-4.046H37v6.565l-1.74.016v-4.51l-1.644 4.494h-1.59L30.35 7.01v4.51h-1.768Z"></path>
                </svg>
              </li>
              <li>
                <svg
                  class="icon icon--full-color"
                  viewBox="0 0 38 24"
                  xmlns="http://www.w3.org/2000/svg"
                  width="38"
                  height="24"
                  role="img"
                  aria-labelledby="pi-paypal"
                >
                  <title id="pi-paypal">PayPal</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path fill="#003087" d="M23.9 8.3c.2-1 0-1.7-.6-2.3-.6-.7-1.7-1-3.1-1h-4.1c-.3 0-.5.2-.6.5L14 15.6c0 .2.1.4.3.4H17l.4-3.4 1.8-2.2 4.7-2.1z"></path><path fill="#3086C8" d="M23.9 8.3l-.2.2c-.5 2.8-2.2 3.8-4.6 3.8H18c-.3 0-.5.2-.6.5l-.6 3.9-.2 1c0 .2.1.4.3.4H19c.3 0 .5-.2.5-.4v-.1l.4-2.4v-.1c0-.2.3-.4.5-.4h.3c2.1 0 3.7-.8 4.1-3.2.2-1 .1-1.8-.4-2.4-.1-.5-.3-.7-.5-.8z"></path><path fill="#012169" d="M23.3 8.1c-.1-.1-.2-.1-.3-.1-.1 0-.2 0-.3-.1-.3-.1-.7-.1-1.1-.1h-3c-.1 0-.2 0-.2.1-.2.1-.3.2-.3.4l-.7 4.4v.1c0-.3.3-.5.6-.5h1.3c2.5 0 4.1-1 4.6-3.8v-.2c-.1-.1-.3-.2-.5-.2h-.1z"></path>
                </svg>
              </li>
              <li>
                <svg
                  class="icon icon--full-color"
                  viewBox="0 0 38 24"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  width="38"
                  height="24"
                  aria-labelledby="pi-diners_club"
                >
                  <title id="pi-diners_club">Diners Club</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><path d="M12 12v3.7c0 .3-.2.3-.5.2-1.9-.8-3-3.3-2.3-5.4.4-1.1 1.2-2 2.3-2.4.4-.2.5-.1.5.2V12zm2 0V8.3c0-.3 0-.3.3-.2 2.1.8 3.2 3.3 2.4 5.4-.4 1.1-1.2 2-2.3 2.4-.4.2-.4.1-.4-.2V12zm7.2-7H13c3.8 0 6.8 3.1 6.8 7s-3 7-6.8 7h8.2c3.8 0 6.8-3.1 6.8-7s-3-7-6.8-7z" fill="#3086C8"></path>
                </svg>
              </li>
              <li>
                <svg
                  class="icon icon--full-color"
                  viewBox="0 0 38 24"
                  width="38"
                  height="24"
                  role="img"
                  aria-labelledby="pi-discover"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title id="pi-discover">Discover</title><path fill="#000" opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32z" fill="#fff"></path><path d="M3.57 7.16H2v5.5h1.57c.83 0 1.43-.2 1.96-.63.63-.52 1-1.3 1-2.11-.01-1.63-1.22-2.76-2.96-2.76zm1.26 4.14c-.34.3-.77.44-1.47.44h-.29V8.1h.29c.69 0 1.11.12 1.47.44.37.33.59.84.59 1.37 0 .53-.22 1.06-.59 1.39zm2.19-4.14h1.07v5.5H7.02v-5.5zm3.69 2.11c-.64-.24-.83-.4-.83-.69 0-.35.34-.61.8-.61.32 0 .59.13.86.45l.56-.73c-.46-.4-1.01-.61-1.62-.61-.97 0-1.72.68-1.72 1.58 0 .76.35 1.15 1.35 1.51.42.15.63.25.74.31.21.14.32.34.32.57 0 .45-.35.78-.83.78-.51 0-.92-.26-1.17-.73l-.69.67c.49.73 1.09 1.05 1.9 1.05 1.11 0 1.9-.74 1.9-1.81.02-.89-.35-1.29-1.57-1.74zm1.92.65c0 1.62 1.27 2.87 2.9 2.87.46 0 .86-.09 1.34-.32v-1.26c-.43.43-.81.6-1.29.6-1.08 0-1.85-.78-1.85-1.9 0-1.06.79-1.89 1.8-1.89.51 0 .9.18 1.34.62V7.38c-.47-.24-.86-.34-1.32-.34-1.61 0-2.92 1.28-2.92 2.88zm12.76.94l-1.47-3.7h-1.17l2.33 5.64h.58l2.37-5.64h-1.16l-1.48 3.7zm3.13 1.8h3.04v-.93h-1.97v-1.48h1.9v-.93h-1.9V8.1h1.97v-.94h-3.04v5.5zm7.29-3.87c0-1.03-.71-1.62-1.95-1.62h-1.59v5.5h1.07v-2.21h.14l1.48 2.21h1.32l-1.73-2.32c.81-.17 1.26-.72 1.26-1.56zm-2.16.91h-.31V8.03h.33c.67 0 1.03.28 1.03.82 0 .55-.36.85-1.05.85z" fill="#231F20"></path><path d="M20.16 12.86a2.931 2.931 0 100-5.862 2.931 2.931 0 000 5.862z" fill="url(#pi-paint0_linear)"></path><path opacity=".65" d="M20.16 12.86a2.931 2.931 0 100-5.862 2.931 2.931 0 000 5.862z" fill="url(#pi-paint1_linear)"></path><path d="M36.57 7.506c0-.1-.07-.15-.18-.15h-.16v.48h.12v-.19l.14.19h.14l-.16-.2c.06-.01.1-.06.1-.13zm-.2.07h-.02v-.13h.02c.06 0 .09.02.09.06 0 .05-.03.07-.09.07z" fill="#231F20"></path><path d="M36.41 7.176c-.23 0-.42.19-.42.42 0 .23.19.42.42.42.23 0 .42-.19.42-.42 0-.23-.19-.42-.42-.42zm0 .77c-.18 0-.34-.15-.34-.35 0-.19.15-.35.34-.35.18 0 .33.16.33.35 0 .19-.15.35-.33.35z" fill="#231F20"></path><path d="M37 12.984S27.09 19.873 8.976 23h26.023a2 2 0 002-1.984l.024-3.02L37 12.985z" fill="#F48120"></path><defs><linearGradient id="pi-paint0_linear" x1="21.657" y1="12.275" x2="19.632" y2="9.104" gradientUnits="userSpaceOnUse"><stop stop-color="#F89F20"></stop><stop offset=".25" stop-color="#F79A20"></stop><stop offset=".533" stop-color="#F68D20"></stop><stop offset=".62" stop-color="#F58720"></stop><stop offset=".723" stop-color="#F48120"></stop><stop offset="1" stop-color="#F37521"></stop></linearGradient><linearGradient id="pi-paint1_linear" x1="21.338" y1="12.232" x2="18.378" y2="6.446" gradientUnits="userSpaceOnUse"><stop stop-color="#F58720"></stop><stop offset=".359" stop-color="#E16F27"></stop><stop offset=".703" stop-color="#D4602C"></stop><stop offset=".982" stop-color="#D05B2E"></stop></linearGradient></defs>
                </svg>
              </li>
            </ul>
          </div>
        {% endif %}
      </dl>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "class": "harmony-footer",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "footer_color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "Background Gradient?",
      "default": false
    },
    {
      "type":"checkbox",
      "id":"language_c",
      "label":"Language Converter",
      "default": true
    },
    {
      "type":"checkbox",
      "id":"currency_c",
      "label":"Currency Converter",
      "default": true
    },
    {
      "type":"checkbox",
      "id":"payment_i",
      "label":"Payment Icons",
      "default": true
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks":[
    {
      "type": "@app"
    },
    {
      "type":"subscribe",
      "name":"Subscribe",
      "settings":[
        {
          "type":"text",
          "label":"Heading",
          "id":"heading",
          "default":"Subscribe"
        },
        {
          "type":"textarea",
          "label":"Text",
          "id":"text",
          "default":"Be the first to know about promotions and skincare tips."
        },
        {
          "type": "select",
          "id": "social_icons",
          "label": "Social Icons",
          "options": [
            {
              "value": "show",
              "label": "Show"
            },
            {
              "value": "hide",
              "label": "Hide"
            }
          ],
          "default": "show"
        }
      ]
    },
    {
      "type": "menu",
      "name":"Menu",
      "settings":[
        {
          "type": "text",
          "label":"Heading",
          "id":"title"
        },
        {
          "type":"link_list",
          "label":"Menu",
          "id":"menu"
        }
      ]
    },
    {
      "type": "brand",
      "name":"Brand Information",
      "settings":[
        {
          "type":"richtext",
          "id":"address",
          "label":"Text",
          "default": "<p>290 Maryam Springs Courbevoie, NYC +1 283 879 90</p>"
        },
        {
          "type":"text",
          "id":"contact_label",
          "label":"Button Label",
          "default":"Send a message"
        },
        {
          "type":"url",
          "id":"url",
          "label":"URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer",
      "category": "Harmony Sections"
    }
  ]
}
{% endschema %}

