{% style %}
  .harmony--{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .harmony--{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<section id="harmony--{{ section.id }}" class="harmony__color-text-{{ section.settings.footerbenifits_color_scheme }} {% if section.settings.enable_gradient %} harmony__color-background-gradient-{{ section.settings.footerbenifits_color_scheme }} {% else %} harmony__color-background-{{ section.settings.footerbenifits_color_scheme }} {% endif %} harmony--{{ section.id }}-padding">
  <div class="footer__top py-[36px] border-b harmony__color-border-{{ section.settings.footerbenifits_color_scheme }}">
    <div class="mx-auto max-w-7xl px-6 md:px-10">
      <div class="grid text-center grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-8 gap-y-8 lg:gap-y-16">
        {% for block in section.blocks %}
          {% if 'icon-text' %}
            <div class="relative flex items-center gap-x-4">
              {% if block.settings.icon != blank %}
                {{ block.settings.icon | image_url: width: '35' |  image_tag: class: 'h-[24px] w-[35px] object-contain' }}
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-50' }}
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="{% if section.settings.section_font_size == 'theme_default'  %} harmony__footerbenifits {% elsif section.settings.section_font_size == 'lg' %} text-lg leading-1 font-semibold {% endif %} text-left max-w-40">
                  {{ block.settings.text }}
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Footer Benifits",
  "class": "harmony_section-footer-benifits",
  "enabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "footerbenifits_color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "Background Gradient?",
      "default": false
    },
    {
      "type": "select",
      "id": "section_font_size",
      "label": "Fon Size",
      "options": [
        {
          "value": "theme_default",
          "label": "Default"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        }
      ],
      "default": "theme_default"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "blocks":[
    {
      "type":"icon_text",
      "name":"Icon With Text",
      "settings":[
        {
          "type": "image_picker",
          "id":"icon",
          "label":"Icon"
        },
        {
          "type":"inline_richtext",
          "id":"text",
          "label":"Text",
          "default": "Be the first to know about promotions and skincare tips."
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Footer Benifits"
    }
  ]

}
{% endschema %}


{% comment %} schema settings color  {% endcomment %}
{% for scheme in settings.color_schemes %}
  {% style %} 
    .harmony__color-{{ scheme.id }}{
      background: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
      color: rgb({{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }});
    }
  {% endstyle %}
{% endfor %}
{% comment %} signature: latest file  {% endcomment %}