{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<section id="harmony--{{ section.id }}" class="bg-[#FAF2DC] h-full min-h-[50px] max-h-[50px] section-{{ section.id }}-padding">
  <header class="harmony__header mx-auto max-w-screen-2xl absolute inset-x-0 z-20 px-4 md:px-10 py-1.5">
    <nav class="harmony__header-nav flex items-center justify-between" aria-label="Global">
      <div class="flex lg:flex-1">
        {% comment %} mega__menu-trigger hamburger Button  {% endcomment %}
        <button
          type="button"
          class="hidden mega__menu-trigger lg:inline-flex items-center justify-center rounded-md text-black pt-1  openbtn"
          onclick="openNav()"
        >
          <span class="sr-only">Open</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>

        <a href="#" class="store__logo ml-1.5">
          {% if section.settings.logo != blank %}
            <img
              class="mx-auto h-[30px]"
              src="{{ section.settings.logo | img_url: '' }}"
              alt="{{ shop.name }}"
            >
          {% endif %}
          {% comment %} Fallback Logo should be store name  {% endcomment %}
          <h2 class="sr-only fallback__logo text-lg leading-1 text-[#ffffff]" id="slide-over-title">SWISS</h2>
        </a>
      </div>
      {% comment %} Mobile offcanvas__menu-trigger hamburger Button  {% endcomment %}
      <div class="offcanvas__menu-trigger flex lg:hidden">
        <button type="button" class="inline-flex items-center justify-center rounded-md text-black" onclick="openNav()">
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      {% comment %} header Main navigation for large screen  {% endcomment %}
      <div class="header__main-nav  lg:flex lg:gap-x-12 text-[16px] font-semibold leading-[22px] text-black">
        <div class="w-full md:block md:w-auto" id="navbar-multi-level">
          <ul class="main__nav-list flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:border-gray-700">
            {% for main_link in linklists['main-menu'].links -%}
              {% if main_link.links.size > 0 %}
                <div class="dropdown_menu">
                  <li>
                    <button
                      id="dropdownNavbarLink"
                      data-dropdown-toggle="dropdownNavbar"
                      class="flex items-center justify-between w-full py-2 px-3 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-gray-500 dark:focus:text-white dark:hover:bg-gray-700 md:dark:hover:bg-transparent link_hover"
                    >
                      {{ main_link.title }}
                      <svg
                        class="w-2.5 h-2.5 ms-2.5"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 10 6"
                      >
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                      </svg>
                    </button>

                    <!-- Nav first level Dropdown sub-nav-menu -->
                    <div
                      id="dropdownNavbar"
                      class="nav__sub-menu absolute z-10 font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
                    >
                      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownLargeButton">
                        {% for child_link in main_link.links %}
                          {% if child_link.links.size > 0 %}
                            <li aria-labelledby="dropdownNavbarLink" class="double_drop">
                              <button
                                id="doubleDropdownButton"
                                data-dropdown-toggle="doubleDropdown"
                                data-dropdown-placement="right-start"
                                type="button"
                                class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                              >
                                {{ child_link.title }}
                                <svg
                                  class="w-2.5 h-2.5 ms-2.5"
                                  aria-hidden="true"
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 10 6"
                                >
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                              </button>
                              <div
                                id="doubleDropdown"
                                class="nav__sub__menu-child absolute left-[180px] top-12 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
                              >
                                <ul
                                  class="nav__sub-menu-child py-2 text-sm text-gray-700 dark:text-gray-200"
                                  aria-labelledby="doubleDropdownButton"
                                >
                                  {% for grand_child in child_link.links %}
                                    <li>
                                      <a
                                        href="#"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                                      >
                                        {{- grand_child.title -}}
                                      </a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              </div>
                            </li>

                          {% else %}
                            <li>
                              <a
                                href="{{ child_link.url }}"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                              >
                                {{- child_link.title -}}
                              </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                </div>
              {% elsif main_link.title == section.settings.mega_label %}
                <div class="mega_menu__link">
                  <li>
                    <a
                      href="{{ main_link.url }}"
                      class="mega_menu_link block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 dark:text-white md:dark:hover:text-gray-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                      aria-current="page"
                    >
                      {{ main_link.title }}
                    </a>
                  </li>
                  {% render 'mega_menu' %}
                </div>
              {% else %}
                <li>
                  <a
                    href="{{ main_link.url }}"
                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-700 md:p-0 dark:text-white md:dark:hover:text-gray-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    aria-current="page"
                  >
                    {{ main_link.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% comment %} (snippets) Desktop right side Icons  {% endcomment %}
      <div class="header__icons hidden lg:flex lg:flex-1 lg:justify-end">
        {% if section.settings.search %}
          <a href="" class="flex items-center w-[40px] p-2 text-black hover:text-gray-500">
            <span class="sr-only">Search</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
            </svg>
          </a>
        {% endif %}
        {% if section.settings.Profile %}
          <a
            href="/account"
            class="flex w-[40px] group items-center p-2 text-black hover:text-slate-500 dark:hover:text-slate-400"
          >
            <span class="sr-only">Profile</span>
            <svg viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
            </svg>
          </a>
        {% endif %}
        {% if section.settings.cart %}
          <a href="/cart" class="flex w-[40px] group items-center p-2">
            <span class="sr-only">Cart</span>
            <svg
              class="h-6 w-6 flex-shrink-0 text-black group-hover:text-gray-500"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"></path>
            </svg>
            <span class="hidden ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">3</span>
            <span class="sr-only">items in cart, view bag</span>
          </a>
        {% endif %}
      </div>
    </nav>
    {% comment %} (Snippets: Offcanvas-nav) Mobile menu, Offcanvas menu show/hide based on menu open state. {% endcomment %}
  </header>
</section>

{% render 'offcanvas' %}

{% schema %}
{
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type":"image_picker",
        "label":"Logo",
        "id":"logo"
      },
      {
        "type": "text",
        "label":"Mega Menu",
        "id":"mega_label",
        "info": "Write the link of title to assign mega menu"
      },

      {
        "type": "collection",
        "id": "featured_collection_",
        "label": "Featured collection ",
        "info": "Featured collection for mega menu"
      },   
      {
        "type": "select",
        "id": "mega_menu_grid",
        "label": "Mega Menu Grid",
        "options": [
          {
            "value": "products",
            "label": "Products"
          },
          {
            "value": "collections",
            "label": "Collections"
          }
        ],
        "default": "collections",
        "info": "Choose 1 to display in mega menu grid"
      },
      {
        "type": "collection_list",
        "id": "collections_for_mega_menu_grid",
        "label": "Collections for Mega Menu Grid",
        "limit": 6
      },
      {
        "type": "header",
        "content": "Header Icons"
      },
      {
        "type": "checkbox",
        "label":"Search Icon",
        "id":"search"
      },
      {
        "type": "checkbox",
        "label":"Cart Icon",
        "id":"cart"
      },
      {
        "type": "checkbox",
        "label":"Profile Icon",
        "id":"Profile"
      },
      {
          "type": "header",
          "content": "Mobile Drawer"
      },
      {
        "type": "image_picker",
        "label":"Mobile Drawer Background",
        "id":"mob_bg_img"
      },
      {
        "type":"text",
        "label":"Mobile Slider LAbel",
        "id":"mob_slider"
      },
      {
        "type":"link_list",
        "label":"Mobile Main menu",
        "id":"mob_menu"
      },
      {
        "type":"link_list",
        "label":"Mobile Secondary menu",
        "id":"mob_s_menu"
      },
      {
        "type": "checkbox",
        "label":"News letter",
        "id":"mob_newsletter"
      },
      {
        "type": "checkbox",
        "label":"Social Icons",
        "id":"mob_social"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
   "blocks": [
    {
      "type": "collection_list",
      "name": "Collection List",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "collection_list_nav",
          "label": "Nav Title",
          "default": "All Collections"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "label": "Collections",
          "limit": 8
        }
      ]
    },
    {
      "type": "collection_list_2",
      "name": "Collection List Two",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "collection_list_nav_2",
          "label": "Nav Title",
          "default": "All Collections"
        },
        {
          "type": "collection_list",
          "id": "collection_list_2",
          "label": "Collections",
          "limit": 8
        }
      ]
    },
    {
      "type": "collection_list_3",
      "name": "Collection List Three",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "collection_list_nav_3",
          "label": "Nav Title",
          "default": "All Collections"
        },
        {
          "type": "collection_list",
          "id": "collection_list_3",
          "label": "Collections",
          "limit": 8
        }
      ]
    },
    {
      "type": "collection",
      "name": "Collection",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "collection_nav",
          "label": "Nav Title",
          "default": "All Collections"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }

      ]
    },
    {
      "type": "collection_2",
      "name": "Collection Two",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "collection_nav_2",
          "label": "Nav Title",
          "default": "All Collections"
        },
        {
          "type": "collection",
          "id": "collection_2",
          "label": "Collection"
        }
      ]
    },
    {
      "type": "collection_3",
      "name": "Collection Three",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "collection_nav_3",
          "label": "Nav Title",
          "default": "All Collections"
        },
        {
          "type": "collection",
          "id": "collection_3",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header",
      "category": "Harmony Sections"
    }
  ]
}
{% endschema %}

<style>
    div#doubleDropdown {
      visibility: hidden;
    }
    div#dropdownNavbar {
      visibility: hidden;
    }
    .dropdown_menu:hover  .nav__sub-menu {
      visibility: visible !important;
    }
    .double_drop:hover .nav__sub__menu-child {
      visibility: visible !important;
    }
</style>
