{%- style -%}
    .harmony--{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }
@media screen and (min-width: 750px) {
    .harmony--{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
}
{%- endstyle -%}

<section id="harmony--{{ section.id }}" class="section__page-header harmony__color-text-{{ section.settings.color_scheme }} harmony__color-background-{{ section.settings.color_scheme }}">
    <div class="page__header flex flex-col md:flex-row max-w-7xl mx-auto items-start justify-start md:justify-between harmony--{{ section.id }}-padding px-6 lg:px-8">
        {%- if section.settings.heading != blank -%}
            <h1 class="page__heading {% if settings.heading_font_size == 'sm' %}harmony__page-header-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__page-header-heading-lg{% else %}harmony__page-header-heading-theme-default{% endif %} font-normal max-w-md tracking-tight mb-6 md:mb-0">
                {{ section.settings.heading }}
            </h1>
        {%- elsif template.name contains 'product' -%}
            <h1 class="page__heading {% if settings.heading_font_size == 'sm' %}harmony__page-header-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__page-header-heading-lg{% else %}harmony__page-header-heading-theme-default{% endif %} font-normal max-w-md tracking-tight mb-6 md:mb-0">
                {{ product.title }}
            </h1>
        {%- elsif template.name contains 'collection' -%}
            <h1 class="page__heading {% if settings.heading_font_size == 'sm' %}harmony__page-header-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__page-header-heading-lg{% else %}harmony__page-header-heading-theme-default{% endif %} font-normal max-w-md tracking-tight mb-6 md:mb-0">
                {{ collection.title }}
            </h1>
        {%- elsif template.name contains 'blog' -%}
            <h1 class="page__heading {% if settings.heading_font_size == 'sm' %}harmony__page-header-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__page-header-heading-lg{% else %}harmony__page-header-heading-theme-default{% endif %} font-normal max-w-md tracking-tight mb-6 md:mb-0">
                {{ blog.title }}
            </h1>
        {%- elsif template.name contains 'article' -%}
            <h1 class="page__heading {% if settings.heading_font_size == 'sm' %}harmony__page-header-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__page-header-heading-lg{% else %}harmony__page-header-heading-theme-default{% endif %} font-normal max-w-md tracking-tight mb-6 md:mb-0">
                {{ article.title }}
            </h1>
        {%- elsif template.name contains 'page' -%}
            <h1 class="page__heading {% if settings.heading_font_size == 'sm' %}harmony__page-header-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__page-header-heading-lg{% else %}harmony__page-header-heading-theme-default{% endif %} font-normal max-w-md tracking-tight mb-6 md:mb-0">
                {{ page.title }}
            </h1>
        {%- else -%}
            <h1 class="page__heading {% if settings.heading_font_size == 'sm' %}harmony__page-header-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__page-header-heading-lg{% else %}harmony__page-header-heading-theme-default{% endif %} font-normal max-w-md tracking-tight mb-6 md:mb-0">
                Page Heading not set yet!
            </h1>
        {%- endif -%}
        <div class="flex items-center justify-start md:justify-end">
            <div class="max-w-sm lg:px-8">
                {%- if section.settings.caption != blank -%}
                    <label class="page__title inline {% if settings.body_font_size == 'sm' %}harmony__page-header-caption-sm{% elsif settings.body_font_size == 'lg' %}harmony__page-header-caption-lg{% else %}harmony__page-header-caption-theme-default{% endif %} font-normal border rounded-full px-2 py-2">{{ section.settings.caption }}</label>
                {%- endif -%}
                {%- if section.settings.short_desc != blank -%}
                    <dd class="page__description {% if settings.body_font_size == 'sm' %}harmony__page-header-desc-sm{% elsif settings.body_font_size == 'lg' %}harmony__page-header-desc-lg{% else %}harmony__page-header-desc-theme-default{% endif %} font-normal mt-[20px]">
                        {{ section.settings.short_desc }}
                    </dd>
                {%- endif -%}
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Page Header",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "color_scheme",
                "id": "color_scheme",
                "label": "Color Scheme"
            },
            {
                "type": "checkbox",
                "id": "enable_gradient",
                "label": "Background Gradient?",
                "default": false
            },
            {
                "type": "inline_richtext",
                "id": "heading",
                "label": "Custom Heading",
                "default": "Page Custom Heading",
                "info": "If this is blank, page title will be shown"
            },
            {
                "type": "text",
                "id": "caption",
                "label": "Caption",
                "default": "About"
            },
            {
                "type": "textarea",
                "id": "short_desc",
                "label": "Short Description",
                "default": "<p>We understand the importance of easy to use skincare products that feels comfortable. This is why we developed Swiss.</p>"
            },
            {
                "type": "header",
                "content": "Section padding"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding Top",
                "default": 36
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "label": "Padding Bottom",
                "default": 36
            }
        ],
        "presets": [
            {
                "name": "Page Header",
                "category": "Harmony Sections"
            }
        ]
    }
    {% endschema %}
              