<style>
  /* Create an active/current productFeaturedTablink class */
  .productFeaturedTab button.active {
      border-bottom: 2px solid #707070;
  }
  /* Style the productFeaturedTab content */
  .aboutTabcontent {
      display: none;
      animation: fadeEffect 2s;
  }
</style>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}



<section id="harmony--{{ section.id }}" class="bg-[#fffaf4]">
  <div class="mx-auto max-w-screen-2xl px-0 section-{{ section.id }}-padding lg:px-0">
    <div class="mx-auto">
      <div class="productFeaturedTab overflow:hidden bg-white-900 grid lg:border-t lg:border-b border-[#7070704d] grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 lg:px-24">
        {% for block in section.blocks %}
          <button
            class="aboutTablinks block text-[17px] leading-[35px] text-[#000000] h-[4rem] my-1 lg:my-0 bg-transparent outline-none lg:last:border-r-0 border-t border-b lg:border-r lg:border-b-0 border-[#7070704d] cursor-pointer transition duration-300 hover:border-b-2 hover:border-b-[#707070] {% if forloop.index == 1 %}active{% endif %}"
            onmouseover="openaboutTab(event, 'pd_{{ block.settings.heading }}')"
            {% if forloop.index == 1 %}
              id="aboutTabDefaultOpen"
            {% endif %}
          >
            {{ block.settings.heading }}
          </button>
        {% endfor %}
      </div>

      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'block-1' -%}
            <div id="pd_{{ block.settings.heading }}" class="aboutTabcontent page_content-main py-2" style="display:  {% if forloop.index == 1 %}grid{% endif %}">
              <div class="mx-auto w-full">
                <div class="flex mx-auto flex-col  justify-between px-6 md:px-10">
                  <div class="flex py-8 md:py-0 md:pr-8 md:pt-4">
                    <div class="block__content">
                      {% if block.settings.content_to_show == 'description'  %}
                        {{ product.description }}
                      {% else  %}
                        {%- if block.settings.content != blank -%}
                            {{ block.settings.content }}
                        {%- elsif block.settings.page != blank -%}
                            {% assign page_handle = block.settings.page %}
                            {% assign page = pages[page_handle] %}
                            {% if page %}
                               {{ page.content }}
                            {% else %}
                                <p>page is empty!</p>
                            {% endif %}
                        {%- else -%}
                            "No content set yet!".
                        {%- endif -%}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
           {%- when 'block-2' -%}
            <div id="pd_{{ block.settings.heading }}" class="aboutTabcontent page_content-main py-2" >
              <div class="mx-auto w-full">
                <div class="flex mx-auto flex-col  justify-between px-6 md:px-10">
                  <div class="flex py-8 md:py-0 md:pr-8 md:pt-4">
                    <div class="block__content">
                        {%- if block.settings.content != blank -%}
                            {{ block.settings.content }}
                        {%- elsif block.settings.page != blank -%}
                            {% assign page_handle = block.settings.page %}
                            {% assign page = pages[page_handle] %}
                            {% if page %}
                                {{ page.content }}
                            {% else %}
                                <p>page is empty!</p>
                            {% endif %}
                        {%- else -%}
                            "No contetn set yet!".
                        {%- endif -%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {%- when 'block-3' -%}
            <div id="pd_{{ block.settings.heading }}" class="aboutTabcontent page_content-main py-2" >
              <div class="mx-auto w-full">
               
                <div class="flex mx-auto flex-col justify-between px-6 md:px-10">
                  <div class="flex py-8 md:py-0 md:pr-8 md:pt-4">
                    <div class="block__content">
                        {%- if block.settings.content != blank -%}
                            {{ block.settings.content }}
                        {%- elsif block.settings.page != blank -%}
                            {% assign page_handle = block.settings.page %}
                            {% assign page = pages[page_handle] %}
                            {% if page %}
                                {{ page.content }}
                            {% else %}
                                <p>page is empty!</p>
                            {% endif %}
                        {%- else -%}
                            "No contetn set yet!".
                        {%- endif -%}               
                    </div>
                  </div>

                </div>
              </div>
            </div>
          {%- when 'block-4' -%}
            <div id="pd_{{ block.settings.heading }}" class="aboutTabcontent page_content-main py-2" >
              <div class="mx-auto w-full">
               
                <div class="flex mx-auto flex-col  justify-between px-6 md:px-10">
                  <div class="flex py-8 md:py-0 md:pr-8 md:pt-4">
                    <div class="block__content">
                        {%- if block.settings.content != blank -%}
                            {{ block.settings.content }}
                        {%- elsif block.settings.page != blank -%}
                            {% assign page_handle = block.settings.page %}
                            {% assign page = pages[page_handle] %}
                            {% if page %}
                              {{ page.content }}
                            {% else %}
                                <p>page is empty!</p>
                            {% endif %}
                        {%- else -%}
                            "No contetn set yet!".
                        {%- endif -%}
                    </div>
                  </div>

                </div>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product Info Tabs",
  "settings": [
      {
          "type": "header",
          "content": "Section padding"
      },
      {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding Top",
          "default": 36
      },
      {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 36
      }
  ],
  "blocks":[
      {
        "type":"block-1",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Description"
          },
          {
    "type": "select",
    "id": "content_to_show",
    "label": "Content to show",
    "options": [
      {
        "value": "description",
        "label": "Description"
      },
      {
        "value": "custom_content",
        "label": "Custom Content"
      }
    ],
    "default": "description"
  },
          {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "page",
        "id": "page",
        "label": "Page"
      }
        ]
      },
      {
        "type":"block-2",
        "name": "How to Use",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "How to Use"
          },
          {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "page",
        "id": "page",
        "label": "Page"
      }
        ]
      },
      {
        "type":"block-3",
        "name": "Ingredients",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Ingredients"
          },
          {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "page",
        "id": "page",
        "label": "Page"
      }
        ]
      },
      {
        "type":"block-4",
        "name": "Delivery & Return",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Delivery & Return"
          },
          {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "page",
        "id": "page",
        "label": "Page"
      }
        ]
      }
  ],
  "presets": [
    {
        "name": "Product Info Tabs",
        "category": "Harmony Sections"
    }
  ]
}
{% endschema %}

<script>
  function openaboutTab(evt, aboutTabName) {
    var i, aboutTabcontent, aboutTablinks;
    aboutTabcontent = document.getElementsByClassName("aboutTabcontent");
    for (i = 0; i < aboutTabcontent.length; i++) {
        aboutTabcontent[i].style.display = "none";
    }
    aboutTablinks = document.getElementsByClassName("aboutTablinks");
    for (i = 0; i < aboutTablinks.length; i++) {
        aboutTablinks[i].className = aboutTablinks[i].className.replace(" active", "");
    }
    document.getElementById(aboutTabName).style.display = "grid";
    evt.currentTarget.className += " active";
  }
  // Get the element with id="aboutTabDefaultOpen" and click on it
  document.getElementById("aboutTabDefaultOpen").click();
</script>
