{%- style -%}
    /* schema settings color style   */
    {% for scheme in settings.color_schemes %}
        .harmony__color-{{ scheme.id }}{
            background: rgb({{ scheme.settings.background.red }},{{ scheme.settings.background.green }},{{ scheme.settings.background.blue }});
            color: rgb({{ scheme.settings.text.red }},{{ scheme.settings.text.green }},{{ scheme.settings.text.blue }});
        }
    {% endfor %}

    /* signature: latest file   */


    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}


<section id="harmony--{{ section.id }}" class="harmony__color-{{ section.settings.color_scheme }}">
    <div class="mx-auto max-w-7xl section-{{ section.id }}-padding">
        <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center md:grid-cols-2 lg:grid-cols-4">
        {%- for block in section.blocks -%}
            <div class="flex flex-col items-center border border-b-0 py-[45px]">
                <p class="text-[12px] leading-[18px] opacity-50 mt-2">{{ block.settings.sub_title }}</p>
                <h4 class="text-[19px] leading-[22px] font-bold">{{ block.settings.title }} </h4>
                <div class="rounded-m p-2 mt-8">
                    {{ block.settings.svg_code }}                    
                </div>
            </div>
        {% endfor %}        
        </dl>
    </div>
</section>
  
  
{% schema %}
{
    "name": "Products Facts",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        },
        {
            "type": "header",
            "content": "Section padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 36
        }
    ],
    "blocks": [
        {
            "name": "Facts",
            "type": "facts",
            "limit": 4,
            "settings": [
                {
                "type": "text",
                "id": "sub_title",
                "label": "Sub Title",
                "default": "Organic"
                },
                {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "SPF 50"
                },
                {
                "type": "textarea",
                "id": "svg_code",
                "label": "SVG Code"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Products Facts",
            "category": "Harmony Sections"
        }
    ]
}
{% endschema %}
        