
{%- style -%}
  /* Create an active/current productFeaturedTablink class */
  .productFeaturedTab button.active {
    border-bottom: 2px solid #707070;
  }

  /* Style the productFeaturedTab content */
  .productFeaturedTabcontent {
    display: none;
    animation: fadeEffect 2s; 
  }

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  #product__overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    z-index: 99;
  }
  #product__grid-wrapper:hover #product__overlay{
    height: 100%;
  }
  /* schema settings Badge Corner Radius  */
  .badge_corner_radius{
    border-radius: {{ settings.badge_corner_radius }}px;
  }
  .product__grid-card {
    padding: {{ settings.product_card_horizontal_offset }}px {{ settings.product_card_vertical_offset }}px;
    border-radius: {{ settings.product_card_corner_radius }}px;
    border-width: {{ settings.product_card_border_thickness }}px;
  }
  .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    transform: translateX(0%) !important;
    width: 100% !important;
  }
  .harmony--{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  span.swiper-pagination-bullet.swiper-pagination-bullet-active { 
    harmony__color-icon-{{ section.settings.product_featured_color_scheme }}; 
  }
  @media screen and (min-width: 750px) {
    .harmony--{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

<section id="harmony--{{ section.id }}" class="{% if section.settings.enable_gradient %} harmony__color-background-gradient-{{ section.settings.product_featured_color_scheme }} {% else %} harmony__color-background-{{ section.settings.product_featured_color_scheme }} {% endif %}">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 harmony--{{ section.id }}-padding">
    <div class="flex items-center lg:items-baseline justify-between mb-8">
      <h2 class="product__featured-heading {% if settings.heading_font_size == 'sm' %}harmony__productFT-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__productFT-heading-lg{% else %}harmony__productFT-heading-theme-default{% endif %} tracking-tight harmony__color-text-{{ section.settings.product_featured_color_scheme }} lg:max-w-3xl">{{ section.settings.heading }}</h2>
      <div class="product__featured-slide flex items-center">
        {%- if section.settings.desktop_layout == 'carousel' -%}
        <button
          class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 lg:pr-3"
        >
          <span
            class="product_carousel-prev lg:mr-2 "
            {% if section.settings.slider_navigation == 'dots' %}
              style="display:none;"
            {% endif %}
          >
            <a
              class="prev relative inline-flex items-center rounded-full {% if settings.body_font_size == 'sm' %}harmony__productFT-tab-sm{% elsif settings.body_font_size == 'lg' %}harmony__productFT-tab-lg{% else %}harmony__productFT-tab-theme-default{% endif %} mx-2 px-2 py-2 harmony__color-icon-{{ section.settings.product_featured_color_scheme }} harmony__color-primary-button-background-{{ section.settings.product_featured_color_scheme }} hover:harmony__color-secondary-button-background-{{ section.settings.product_featured_color_scheme }} focus:harmony__color-secondary-button-background-{{ section.settings.product_featured_color_scheme }} ring-1 ring-current focus:ring-2 hover:ring-2 harmony__color-primary-button-border-{{ section.settings.product_featured_color_scheme }} focus:z-20 focus:outline-offset-0"
            >
              <span class="sr-only">Previous</span>
              <svg class="h-5 w-5 harmony__color-icon-{{ section.settings.product_featured_color_scheme }}" viewBox="0 0 20 20" fill="none" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </span>
          <div
            class="pagination hidden md:block w-[100%] harmony__color-primary_button-{{ section.settings.product_featured_color_scheme }} harmony__color-on_primary_button-{{ section.settings.product_featured_color_scheme }} harmony__color-primary_button_border-{{ section.settings.product_featured_color_scheme }}"
            {% if section.settings.slider_navigation == 'arrows' %}
              style="display:none;"
            {% endif %}
          ></div>
          <span
            class="product_carousel-next lg:ml-2 harmony__color-icon-{{ section.settings.product_featured_color_scheme }} w-[100%]"
            {% if section.settings.slider_navigation == 'dots' %}
              style="display:none;"
            {% endif %}
          >
            <a
              class="next relative inline-flex items-center rounded-full mx-2 px-2 py-2 harmony__color-icon-{{ section.settings.product_featured_color_scheme }} harmony__color-secondary-button-background-{{ section.settings.product_featured_color_scheme }} hover:harmony__color-primary-button-background-{{ section.settings.product_featured_color_scheme }} ring-1 ring-current focus:ring-2 hover:ring-2 harmony__color-secondary-button-border-{{ section.settings.product_featured_color_scheme }} focus:z-20 focus:outline-offset-0"
            >
              <span class="sr-only">Next</span>
              <svg class="h-5 w-5 harmony__color-icon-{{ section.settings.product_featured_color_scheme }}" viewBox="0 0 20 20" fill="none" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
              </svg>
            </a>
          </span>
        </button>
        {%- endif -%}
      </div>
    </div>
    <div class="mx-auto">
      <div class="productFeaturedTab overflow:hidden grid lg:border-t lg:border-b harmony__color-text-{{ section.settings.product_featured_color_scheme }} harmony__color-background-{{ section.settings.product_featured_color_scheme }} harmony__color-border-{{ section.settings.product_featured_color_scheme }} mb-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4">
        {% for block in section.blocks %}
          <button class="productFeaturedTablinks block {% if settings.body_font_size == 'sm' %}harmony__productFT-tab-sm{% elsif settings.body_font_size == 'lg' %}harmony__productFT-tab-lg{% else %}harmony__productFT-tab-theme-default{% endif %} h-[4rem] my-1 lg:my-0 outline-none lg:last:border-r-0  lg:border-r lg:border-b-0 cursor-pointer transition duration-300 hover:border-b-2 harmony__color-border-{{ section.settings.product_featured_color_scheme }} {% if forloop.index == 1 %}active{% endif %}" onmouseover="openFtCats(event, 'pd_{{ block.settings.collection.handle }}')"  id="defaultOpen-{{ section.id }}">{{ block.settings.collection.title }}</button>
        {% endfor %}
      </div>

      {% for block in section.blocks %}
        {%- if section.settings.desktop_layout == 'grid' -%}
        <div id="pd_{{ block.settings.collection.handle }}" class="productFeaturedTabcontent grid grid-cols-{{ section.settings.number_of_column }} gap-x-4 md:gap-x-6 gap-y-10 sm:grid-cols-{{ section.settings.number_of_column }} lg:grid-cols-{{ section.settings.products_per_row }} xl:grid-cols-{{ section.settings.products_per_row }} xl:gap-x-8">
        {%- else -%}
        <div id="pd_{{ block.settings.collection.handle }}" class="productFeaturedTabcontent">
        {%- endif -%}
          {%- if section.settings.desktop_layout == 'carousel' -%}
            <div class="swiper mySwiper-{{ section.id }} w-[100%]">
              <div class="swiper-wrapper">
                {%- for product in block.settings.collection.products  -%}
                <div class="swiper-slide">
                  <div class="product__grid-wrapper {% if settings.product_card_style == 'card' %} product__grid-card harmony__color-text-{{ settings.product_card_color_scheme }} harmony__color-background-{{ settings.product_card_color_scheme }} {% else %} harmony__color-text-{{ section.settings.product_featured_color_scheme }} harmony__color-background-{{ section.settings.product_featured_color_scheme }} {% endif %} group" id="product__grid-wrapper">
                    <div class="product__media relative aspect-h-1 aspect-w-1 w-full overflow-hidden xl:aspect-h-8 xl:aspect-w-7 z-1">
                      {%- if section.settings.enable_stock_badge -%} 
                      {%- if product.available -%}
                      <span class="badge__sale item-center text-center {% if settings.body_font_size == 'sm' %}harmony__badge-sm{% elsif settings.body_font_size == 'lg' %}harmony__badge-lg{% else %}harmony__badge-theme-default{% endif %} harmony__color-primary-button-label-{{ settings.sale_badge_color_scheme }} harmony__color-primary-button-background-{{ settings.sale_badge_color_scheme }} harmony__color-primary-button-border-{{ settings.sale_badge_color_scheme }} badge_corner_radius inline max-w-[90px] max-h-[25px] z-10 ml-2 mt-2 px-2 pb-1">
                          Sale
                      </span>
                      {%- else -%}
                      <span class="badge__sold-out item-center text-center {% if settings.body_font_size == 'sm' %}harmony__badge-sm{% elsif settings.body_font_size == 'lg' %}harmony__badge-lg{% else %}harmony__badge-theme-default{% endif %} harmony__color-secondary-button-label-{{ settings.sold_out_badge_color_scheme }} harmony__color-secondary-button-background-{{ settings.sold_out_badge_color_scheme }} harmony__color-secondary-button-border-{{ settings.sold_out_badge_color_scheme }} badge_corner_radius inline max-w-[90px] max-h-[25px] z-10 ml-2 mt-2 px-2 pb-1">
                        Sold out
                      </span>
                      {%- endif -%}
                      {% endif %}
                      
                      {% if product.featured_media %}
                        {{ product.featured_media | image_url: width: 407, height: 513 |  image_tag }}
                      {% else %}
                      <img src="{{ 'cdn.shopify.com/s/files/1/0586/2499/9582/files/placeholder-images-image_large_7f671d3f-3a3a-4dc7-9545-5aa9fe3f02a5.webp?v=1716098263' | asset_url }}" width="407" height="513" alt="{{ product.title }}">
                      {% endif %}
                      
                      <div id="product__overlay" class="harmony__color-text-{{ settings.product_card_overlay_color_scheme }} harmony__color-background-{{ settings.product_card_overlay_color_scheme }}">
                        <div class="flex h-full max-w-xl flex-col items-start justify-between">
                            {%- if section.settings.enable_quick_view -%}
                            <div class="flex items-center justify-center harmony__color-text-{{ settings.product_card_overlay_color_scheme }} harmony__color-background-{{ settings.product_card_overlay_color_scheme }} gap-x-4">
                            {%- if section.settings.offer_badge -%} <span class="badge__discount {% if settings.body_font_size == 'sm' %}harmony__badge-sm{% elsif settings.body_font_size == 'lg' %}harmony__badge-lg{% else %}harmony__badge-theme-default{% endif %} absolute z-14 left-3 top-3 inline-block items-start badge_corner_radius harmony__color-primary-button-label-{{ settings.sale_offer_badge_color_scheme }} harmony__color-primary-button-background-{{ settings.sale_offer_badge_color_scheme }} harmony__color-primary-button-border-{{ settings.sale_offer_badge_color_scheme }} py-1 px-2">40% off</span>{% endif %}
                            {%- if section.settings.show_wishlist -%}  
                            <button class="absolute right-2 top-1.5 text-sm h-[35px] w-[35px] block harmony__color-border-{{ settings.product_card_overlay_color_scheme }} rounded-full px-1">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 harmony__color-icon-{{ settings.product_card_overlay_color_scheme }}">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"></path>
                                </svg>
                                <span class="sr-only lg:ml-2 border border-transparent"></span>
                            </button>
                            {% endif %}
                            </div>
                            {% endif %}
                            {%- if section.settings.enable_quick_view -%}
                            <button type="submit" class="mx-auto flex w-[85%] items-center justify-center harmony__color-primary-button-label-{{ settings.product_card_overlay_color_scheme }} harmony__color-primary-button-background-{{ settings.product_card_overlay_color_scheme }} harmony__color-primary-button-border-{{ settings.product_card_overlay_color_scheme }} {% if settings.body_font_size == 'sm' %}harmony__productFT-tab-sm{% elsif settings.body_font_size == 'lg' %}harmony__productFT-tab-lg{% else %}harmony__productFT-tab-theme-default{% endif %} px-4 py-4 mb-4">Quick View</button>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="product__info mt-4">
                      <table class="table-auto w-full {% if settings.product_card_style == 'card' %} harmony__color-text-{{ settings.product_card_color_scheme }} harmony__color-background-{{ settings.product_card_color_scheme }} {% endif %}">
                      <tbody>
                          <tr>
                          {% if product.title %}
                          <td class="border-b {% if settings.product_card_style == 'card' %} harmony__color-border-{{ settings.product_card_color_scheme }} {% else %} harmony__color-border-{{ section.settings.product_featured_color_scheme }} {% endif %} pr-2 py-2">
                              <a href="{{ product.url }}" class="product__title block">
                              <h3 class="product__title {% if settings.heading_font_size == 'sm' %}harmony__productFT-prodTitle-sm{% elsif settings.heading_font_size == 'lg' %}harmony__productFT-prodTitle-lg{% else %}harmony__productFT-prodTitle-theme-default{% endif %}">
                              {{ product.title | truncate: section.settings.number_of_letters_in_title }}
                              </h3>
                              </a>
                          </td>
                          {% endif %}
                          {%- if section.settings.show_price -%}  
                          <td class="border-b {% if settings.product_card_style == 'card' %} harmony__color-border-{{ settings.product_card_color_scheme }} {% else %} harmony__color-border-{{ section.settings.product_featured_color_scheme }} {% endif %} text-right pl-2">
                              <h4 class="product__price {% if settings.heading_font_size == 'sm' %}harmony__productFT-priceFeedback-sm{% elsif settings.heading_font_size == 'lg' %}harmony__productFT-priceFeedback-lg{% else %}harmony__productFT-priceFeedback-theme-default{% endif %} text-right">{{ product.price | money }}</h4>
                          </td>
                          {% endif %}
                          </tr>
                          <tr>
                          {% for collection in product.collections limit: 1 %}
                              {%- if section.settings.show_category and collection != blank -%}
                              <td class="pr-2 py-2">
                              <a href="{{ collection.url }}" class="collection__name {% if settings.body_font_size == 'sm' %}harmony__productFT-label-sm{% elsif settings.body_font_size == 'lg' %}harmony__productFT-label-lg{% else %}harmony__productFT-label-theme-default{% endif %} inline-block px-2 py-1.5 border rounded-full {% if settings.product_card_style == 'card' %} harmony__color-text-{{ settings.product_card_color_scheme }} harmony__color-background-{{ settings.product_card_color_scheme }} harmony__color-border-{{ settings.product_card_color_scheme }} {% else %} harmony__color-text-{{ section.settings.product_featured_color_scheme }} harmony__color-background-{{ section.settings.product_featured_color_scheme }} harmony__color-border-{{ section.settings.product_featured_color_scheme }} {% endif %}">{{ collection.title |  truncate: 10}}</a>
                              </td>
                              {% endif %}
                          {% endfor %}
                          {%- if section.settings.show_reviews -%}
                          <td class="flex items-center {%- if section.settings.show_category != true or product.collections == blank -%} justify-start  {% else %} justify-end pl-2 {% endif %} text-right py-2 ">
                              <div class="flex items-center justify-end {% if settings.heading_font_size == 'sm' %}harmony__productFT-priceFeedback-sm{% elsif settings.heading_font_size == 'lg' %}harmony__productFT-priceFeedback-lg{% else %}harmony__productFT-priceFeedback-theme-default{% endif %}">
                              {%  render 'rating-star' %}
                              </div>
                              <span class="sr-only">3.9 out of 5 stars</span>
                              <span class="product__feedback-count ml-3 {% if settings.heading_font_size == 'sm' %}harmony__productFT-priceFeedback-sm{% elsif settings.heading_font_size == 'lg' %}harmony__productFT-priceFeedback-lg{% else %}harmony__productFT-priceFeedback-theme-default{% endif %} {% if settings.product_card_style == 'card' %} harmony__color-text-{{ settings.product_card_color_scheme }} {% else %} harmony__color-text-{{ section.settings.product_featured_color_scheme }} {% endif %}">{{ product.metafields.custom.zhd_product_option_length_13.value }}</span>
                          </td>
                          {% endif %}
                          </tr>
                      </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          {%- elsif section.settings.desktop_layout == 'grid' -%}
            {%- for product in block.settings.collection.products limit:  section.settings.products_to_show  -%}
              <div class="product__grid-wrapper group {% if settings.product_card_style == 'card' %} product__grid-card harmony__color-text-{{ settings.product_card_color_scheme }} harmony__color-background-{{ settings.product_card_color_scheme }} {% else %} harmony__color-text-{{ section.settings.product_featured_color_scheme }} harmony__color-background-{{ section.settings.product_featured_color_scheme }} harmony__color-border-{{ section.settings.product_featured_color_scheme }} {% endif %}" id="product__grid-wrapper">
                <div class="product__media relative aspect-h-1 aspect-w-1 w-full overflow-hidden xl:aspect-h-8 xl:aspect-w-7 z-1">
                  {%- if section.settings.enable_stock_badge -%} 
                    {%- if product.available -%}
                    <span class="badge__sale item-center text-center {% if settings.body_font_size == 'sm' %}harmony__badge-sm{% elsif settings.body_font_size == 'lg' %}harmony__badge-lg{% else %}harmony__badge-theme-default{% endif %} harmony__color-primary-button-label-{{ settings.sale_badge_color_scheme }} harmony__color-primary-button-background-{{ settings.sale_badge_color_scheme }} harmony__color-primary-button-border-{{ settings.sale_badge_color_scheme }} badge_corner_radius inline max-w-[90px] max-h-[25px] z-10 ml-2 mt-2 px-2 pb-1">
                        Sale
                    </span>
                    {%- else -%}
                    <span class="badge__sold-out item-center text-center {% if settings.body_font_size == 'sm' %}harmony__badge-sm{% elsif settings.body_font_size == 'lg' %}harmony__badge-lg{% else %}harmony__badge-theme-default{% endif %} harmony__color-secondary-button-label-{{ settings.sold_out_badge_color_scheme }} harmony__color-secondary-button-background-{{ settings.sold_out_badge_color_scheme }} harmony__color-secondary-button-border-{{ settings.sold_out_badge_color_scheme }} badge_corner_radius inline max-w-[90px] max-h-[25px] z-10 ml-2 mt-2 px-2 pb-1">
                        Sold out
                    </span>
                    {%- endif -%}
                  {% endif %}
                  
                  {% if product.featured_media %}
                    {{ product.featured_media | image_url: width: 407, height: 513 |  image_tag }}
                  {% else %}
                  <img src="{{ 'cdn.shopify.com/s/files/1/0586/2499/9582/files/placeholder-images-image_large_7f671d3f-3a3a-4dc7-9545-5aa9fe3f02a5.webp?v=1716098263' | asset_url }}" width="407" height="513" alt="{{ product.title }}">
                  {% endif %}
                  
                  <div id="product__overlay" class="harmony__color-text-{{ settings.product_card_overlay_color_scheme }} harmony__color-background-{{ settings.product_card_overlay_color_scheme }}">
                    <div class="flex h-full max-w-xl flex-col items-start justify-between">
                        {%- if section.settings.enable_quick_view -%}
                        <div class="flex items-center justify-center harmony__color-text-{{ settings.product_card_overlay_color_scheme }} harmony__color-background-{{ settings.product_card_overlay_color_scheme }} gap-x-4">
                        {%- if section.settings.offer_badge -%} <span class="badge__discount {% if settings.body_font_size == 'sm' %}harmony__badge-sm{% elsif settings.body_font_size == 'lg' %}harmony__badge-lg{% else %}harmony__badge-theme-default{% endif %} absolute z-14 left-3 top-3 inline-block items-start badge_corner_radius harmony__color-primary-button-label-{{ settings.sale_offer_badge_color_scheme }} harmony__color-primary-button-background-{{ settings.sale_offer_badge_color_scheme }} harmony__color-primary-button-border-{{ settings.sale_offer_badge_color_scheme }} py-1 px-2">40% off</span>{% endif %}
                        {%- if section.settings.show_wishlist -%}  
                        <button class="absolute right-2 top-1.5 text-sm h-[35px] w-[35px] block  harmony__color-border-{{ settings.product_card_overlay_color_scheme }} rounded-full px-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 harmony__color-icon-{{ settings.product_card_overlay_color_scheme }}">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"></path>
                            </svg>
                            <span class="sr-only lg:ml-2 border border-transparent"></span>
                        </button>
                        {% endif %}
                        </div>
                        {% endif %}
                        {%- if section.settings.enable_quick_view -%}
                        <button type="submit" class="mx-auto flex w-[85%] items-center justify-center harmony__color-primary-button-label-{{ settings.product_card_overlay_color_scheme }} harmony__color-primary-button-background-{{ settings.product_card_overlay_color_scheme }} harmony__color-primary-button-border-{{ settings.product_card_overlay_color_scheme }} {% if settings.body_font_size == 'sm' %}harmony__productFT-tab-sm{% elsif settings.body_font_size == 'lg' %}harmony__productFT-tab-lg{% else %}harmony__productFT-tab-theme-default{% endif %} px-4 py-4 mb-4">Quick View</button>
                        {% endif %}
                    </div>
                  </div>
                </div>
                <div class="product__info mt-4">
                  <table class="table-auto w-full {% if settings.product_card_style == 'card' %} harmony__color-text-{{ settings.product_card_color_scheme }} harmony__color-background-{{ settings.product_card_color_scheme }} {% endif %}">
                    <tbody>
                      <tr>
                      {% if product.title %}
                      <td class="border-b {% if settings.product_card_style == 'card' %} harmony__color-border-{{ settings.product_card_color_scheme }} {% else %} harmony__color-primary-button-border-{{ section.settings.product_featured_color_scheme }} {% endif %} pr-2 py-2">
                          <a href="{{ product.url }}" class="product__title block">
                          <h3 class="product__title {% if settings.heading_font_size == 'sm' %}harmony__productFT-prodTitle-sm{% elsif settings.heading_font_size == 'lg' %}harmony__productFT-prodTitle-lg{% else %}harmony__productFT-prodTitle-theme-default{% endif %}">
                          {{ product.title | truncate: section.settings.number_of_letters_in_title }}
                          </h3>
                          </a>
                      </td>
                      {% endif %}
                      {%- if section.settings.show_price -%}  
                      <td class="border-b {% if settings.product_card_style == 'card' %} harmony__color-border-{{ settings.product_card_color_scheme }} {% else %} harmony__color-primary-button-border-{{ section.settings.product_featured_color_scheme }} {% endif %} text-right pl-2">
                          <h4 class="product__price {% if settings.heading_font_size == 'sm' %}harmony__productFT-priceFeedback-sm{% elsif settings.heading_font_size == 'lg' %}harmony__productFT-priceFeedback-lg{% else %}harmony__productFT-priceFeedback-theme-default{% endif %} text-right">{{ product.price | money }}</h4>
                      </td>
                      {% endif %}
                      </tr>
                      <tr>
                      {% for collection in product.collections limit: 1 %}
                          {%- if section.settings.show_category and collection != blank -%}
                          <td class="pr-2 py-2">
                            <a href="{{ collection.url }}" class="collection__name {% if settings.product_card_style == 'card' %} harmony__color-text-{{ settings.product_card_color_scheme }} harmony__color-background-{{ settings.product_card_color_scheme }} harmony__color-border-{{ settings.product_card_color_scheme }} {% else %} harmony__color-text-{{ section.settings.product_featured_color_scheme }} harmony__color-background-{{ section.settings.product_featured_color_scheme }} harmony__color-border-{{ section.settings.product_featured_color_scheme }} {% endif %} {% if settings.body_font_size == 'sm' %}harmony__productFT-label-sm{% elsif settings.body_font_size == 'lg' %}harmony__productFT-label-lg{% else %}harmony__productFT-label-theme-default{% endif %} inline-block px-2 py-1.5 border rounded-full">{{ collection.title |  truncate: 10}}</a>
                          </td>
                          {% endif %}
                      {% endfor %}
                      {%- if section.settings.show_reviews -%}
                      <td class="flex items-center {%- if section.settings.show_category != true or product.collections == blank -%} justify-start  {% else %} justify-end pl-2 {% endif %} text-right py-2 ">
                        <div class="flex items-center justify-end {% if settings.heading_font_size == 'sm' %}harmony__productFT-priceFeedback-sm{% elsif settings.heading_font_size == 'lg' %}harmony__productFT-priceFeedback-lg{% else %}harmony__productFT-priceFeedback-theme-default{% endif %}">
                          {% render 'rating-star' %}
                        </div>
                        <span class="sr-only">3.9 out of 5 stars</span>
                        <span class="product__feedback-count ml-3 {% if settings.heading_font_size == 'sm' %}harmony__productFT-priceFeedback-sm{% elsif settings.heading_font_size == 'lg' %}harmony__productFT-priceFeedback-lg{% else %}harmony__productFT-priceFeedback-theme-default{% endif %} {% if settings.product_card_style == 'card' %} harmony__color-text-{{ settings.product_card_color_scheme }} {% else %} harmony__color-text-{{ section.settings.product_featured_color_scheme }} {% endif %}">{{ product.metafields.custom.zhd_product_option_length_13.value }}</span>
                      </td>
                      {% endif %}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            {%- endfor -%}
          {%- endif -%}
        {%- if section.settings.desktop_layout == 'grid' -%}
          </div>
        {%- else -%}
        </div>
        {%- endif -%}
      {% endfor %}

    </div>        
  </div>
</section>


{% schema %}
{
    "name": "Product Fetaured",
    "settings": [
      {
        "type": "color_scheme",
        "id": "product_featured_color_scheme",
        "label": "Section Color Scheme",
        "default": "scheme-2"
      },
      {
        "type": "checkbox",
        "id": "enable_gradient",
        "label": "Background Gradient?",
        "default": false
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Section Heading",
        "default": "Section Heading"
      },
      {
        "type": "checkbox",
        "id": "show_heeading",
        "label": "Show Heading",
        "default": true
      },
      {
        "type": "select",
        "id": "desktop_layout",
        "label": "Desktop Layout?",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "carousel",
            "label": "Carousel"
          }
        ],
        "default": "grid"
      },
      {
        "type": "checkbox",
        "id": "show_price",
        "label": "Show Price",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_category",
        "label": "Show Category",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_reviews",
        "label": "Show Reviews",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_stock_badge",
        "label": "Enable Stock Badge",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "offer_badge",
        "label": "Sale Badge",
        "default": true
      },
        {
        "type": "checkbox",
        "id": "show_wishlist",
        "label": "Show Wishlist",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_quick_view",
        "label": "Enable Quick View",
        "default": true
      },
      {
        "type": "number",
        "id": "number_of_letters_in_title",
        "label": "Number of letters in Title",
        "default": 12
      },
      {
        "type": "liquid",
        "id": "product_rating_count",
        "label": "Product Ratings",
        "default": "{{ product.metafields.custom.zhd_product_option_length_13.value }}",
        "info": "Place your product rating metafield liquid code here"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "label": "Products to show?",
        "min": 2,
        "max": 12,
        "step": 1,
        "default": 8
      },
      {
        "type": "range",
        "id": "products_per_row",
        "label": "Products per row",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 4
      },
      {
        "type": "select",
        "id": "mobile_layout",
        "label": "Mobile Layout",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "carousel",
            "label": "Carousel"
          }
        ],
        "default": "grid"
      },
      {
        "type": "select",
        "id": "number_of_column",
        "label": "Number of Column",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ],
        "default": "1",
        "info": "Number of Products in one column on mobile"
      },
      {
          "type": "header",
          "content": "Section padding"
      },
      {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding Top",
          "default": 36
      },
      {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "Padding Bottom",
          "default": 36
      }
    ],
    "blocks":[
      {
        "type":"block",
        "name": "Collection",
        "limit": 4,
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Fetaured",
        "category": "Harmony Sections"
      }
    ]
}
{% endschema %}




<script>
  function openFtCats(evt, productFeaturedCatName) {
      var i, productFeaturedTabcontent, productFeaturedTablinks;
      productFeaturedTabcontent = document.getElementsByClassName("productFeaturedTabcontent");
      for (i = 0; i < productFeaturedTabcontent.length; i++) {
          productFeaturedTabcontent[i].style.display = "none";
      }
      productFeaturedTablinks = document.getElementsByClassName("productFeaturedTablinks");
      for (i = 0; i < productFeaturedTablinks.length; i++) {
          productFeaturedTablinks[i].className = productFeaturedTablinks[i].className.replace(" active", "");
      }
      document.getElementById(productFeaturedCatName).style.display = "grid";
      evt.currentTarget.className += " active";
  }
  // Get the element with id="defaultOpen-{{ section.id }}" and click on it
  document.getElementById("defaultOpen-{{ section.id }}").onmouseover();
</script>

<script>
  var swiper = new Swiper(".mySwiper-{{ section.id }}", {
    slidesPerView: 4,
    spaceBetween: 20,
    breakpoints: {
      360: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      600: {
        slidesPerView: 2,
        spaceBetween: 10,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 20,
      },
    },
    pagination: {
      el: ".pagination",
      clickable: true,
      dynamicBullets: true,
    },
    navigation: {
      nextEl: ".next",
      prevEl: ".prev",
    },
  });
</script>