{% comment %} Test code  {% endcomment %}

<style>
      body { font-family: Arial, sans-serif; margin: 20px; }
      .product { display: flex; flex-direction: column; align-items: center; }
      .product img { max-width: 100%; height: auto; }
      .product-info { text-align: center; margin-top: 20px; }
      .product-title { font-size: 24px; margin-bottom: 10px; }
      /* .product-price { font-size: 20px; color: #555; margin-bottom: 20px; } */
      /* .add-to-cart { background-color: #5cb85c; color: white; padding: 10px 20px; border: none; cursor: pointer; }
      .add-to-cart:hover { background-color: #4cae4c; } */
      /* When an Ajax request is in progress */
  .js-ajax-cart-processing .my-loading-indicator {
    display: block;
  }
</style>



<section id="harmony--{{ section.id }}">
  <div class="bg-[#FFFAF4]">
    <div class="mx-auto grid max-w-7xl grid-cols-1 items-start gap-x-8 gap-y-16 px-6 py-8 sm:px-6 md:py-24 lg:max-w-7xl lg:grid-cols-3 lg:px-8">
      <div class="product__media col-span-2 grid grid-cols-1 gap-4 sm:gap-6 lg:gap-8">
        {% render "product-gallery" %}
      </div>
      <div class="product__information">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'review_breadcrumbs' %}
              <div class="flex items-center justify-between mt-[17px]">
                {% if block.settings.breadcrumb %}
                  <nav aria-label="Breadcrumb">
                    <ol role="list" class="flex max-w-2xl items-center lg:max-w-7xl">
                      <li>
                        <div class="flex items-center">
                          <a href="#" class="text-[14px] leading-[19px] font-normal text-[#000000] mr-2">Home</a>
                          <svg
                            width="16"
                            height="20"
                            viewBox="0 0 16 20"
                            fill="currentColor"
                            aria-hidden="true"
                            class="h-5 w-4 text-gray-300"
                          >
                            <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                          </svg>
                        </div>
                      </li>
                      <li>
                        <div class="flex items-center">
                          <a href="#" class="text-[14px] leading-[19px] font-normal text-[#000000] mr-2">Cleanser</a>
                          <svg
                            width="16"
                            height="20"
                            viewBox="0 0 16 20"
                            fill="currentColor"
                            aria-hidden="true"
                            class="h-5 w-4 text-gray-300"
                          >
                            <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                          </svg>
                        </div>
                      </li>

                      <li class="text-sm">
                        <a
                          href="#"
                          aria-current="page"
                          class="text-[14px] leading-[19px] font-normal text-[#000000] mr-2"
                          >Facial</a
                        >
                      </li>
                    </ol>
                  </nav>
                {% endif %}
                {% if block.settings.rating %}
                  <div class="product__review">
                    <h3 class="sr-only">Reviews</h3>
                    <div class="flex items-center">
                      <div class="flex items-center gap-x-[2px]">
                        <svg
                          class="text-[13px] leading-[18px] font-normal text-[#000000] h-5 w-5 flex-shrink-0"
                          x-state:on="Active"
                          x-state:off="Default"
                          x-state-description="Active: &quot;text-gray-900&quot;, Default: &quot;text-gray-200&quot;"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                        </svg>
                        <svg
                          class="text-[13px] leading-[18px] font-normal text-[#000000] h-5 w-5 flex-shrink-0"
                          x-state-description="undefined: &quot;text-gray-900&quot;, undefined: &quot;text-gray-200&quot;"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                        </svg>
                        <svg
                          class="text-[13px] leading-[18px] font-normal text-[#000000] h-5 w-5 flex-shrink-0"
                          x-state-description="undefined: &quot;text-gray-900&quot;, undefined: &quot;text-gray-200&quot;"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                        </svg>
                        <svg
                          class="text-[13px] leading-[18px] font-normal text-[#000000] h-5 w-5 flex-shrink-0"
                          x-state-description="undefined: &quot;text-gray-900&quot;, undefined: &quot;text-gray-200&quot;"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                        </svg>
                        <svg
                          class="text-[13px] leading-[18px] font-normal text-[#000000] h-5 w-5 flex-shrink-0"
                          x-state-description="undefined: &quot;text-gray-900&quot;, undefined: &quot;text-gray-200&quot;"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          aria-hidden="true"
                        >
                          <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                        </svg>
                      </div>
                      <p class="sr-only">4 out of 5 stars</p>
                      <a href="#" class="text-[16px] leading-[20px] font-normal text-[#000000] mx-2 hover:text-gray-500"
                        >7</a
                      >
                    </div>
                  </div>
                {% endif %}
              </div>
            {% when 'title' %}
              <div class="flex items-center justify-between mt-[10px]">
                <div class="product__title lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
                  <h1 class="text-[32px] leading-[35px] font-semibold text-[#000000]">{{ product.title }}</h1>
                </div>
                {% if section.settings.wishlist %}
                  <div class="flex gap-x-3">
                    <svg
                      class="mt-1 h-5 w-5 flex-none text-gray-600"
                      viewBox="0 0 20 20"
                      fill="currentColor"
                      aria-hidden="true"
                    >
                      <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z"></path>
                      <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd"></path>
                    </svg>
                    <span
                      ><strong class="text-[14px] leading-[19px] font-normal text-[#000000]"
                        >Add to Wishlist</strong
                      ></span
                    >
                  </div>
                {% endif %}
              </div>
            {% when 'price' %}
    


              {% render "product-price" %}
        

            
            {% when 'description' %}
              <div class="product_short_desc text-[14px] leading-[19px] font-normal text-[#000000] mt-[12px]">
                {{ product.description }}
              </div>
                              {% when 'quantity' %}
                              {% render "quantity-input" %}
            {% when 'variant_picker' %}
               {% render "product-variant-picker",
               variant_type :block.settings.picker_type,
                 swatch :block.settings.color_swatches
               %}
         
            
            {% when 'buy_button' %}
                               {% render "buy-buttons" %}
              {% if block.settings.subscribe %}
                <div class="mt-10 flex items-center justify-center">
                  <button
                    type="submit"
                    class="flex w-full items-center justify-center border bg-transparent px-8 py-[17px] text-[13px] leading-[18px] text-[#000000] font-normal hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
                  >
                    One Time Purchase
                  </button>
                  <button
                    type="submit"
                    class="flex w-full items-center justify-center border bg-transparent px-8 py-[17px] text-[13px] leading-[18px] text-[#000000] font-normal hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
                  >
                    Subscribe
                  </button>
                </div>
              {% endif %}
             


              <ajax-cart-product-form>
          {% form 'product', product %}
            <input id="product-id" type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
             <input id="quantity" type="number" name="quantity" min="1" value="1" class="sr-only">
            <button type="submit" class="add-to-cart flex w-full items-center justify-center border border-transparent bg-[#373738] px-8 py-[17px] text-[17px] leading-[13px] text-[#ffffff] font-normal hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">Add to Cart</button>
          {% endform %}
        </ajax-cart-product-form>

            
              <button
                type="submit"
                class="flex w-full items-center justify-center border border-transparent bg-green-600 px-8 py-[17px] text-[17px] leading-[13px] text-[#ffffff] font-normal hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 mt-[5px]"
              >
                Buy it now
              </button>
                    
              {% if block.settings.instalments %}
                <div class="product__installment flex items-center justify-between mt-[20px] py-4 border-b">
                  <div class="installment__pay text-[14px] leading-[19px] text-[#000000] font-normal">
                    Pay in <strong>4</strong> installments.
                  </div>
                  <div class="installment_payment_getway">
                    <svg
                      class="icon icon--full-color"
                      viewBox="0 0 38 24"
                      xmlns="http://www.w3.org/2000/svg"
                      role="img"
                      width="38"
                      height="24"
                      aria-labelledby="pi-master"
                    >
                      <title id="pi-master">Mastercard</title><path opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"></path><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"></path><circle fill="#EB001B" cx="15" cy="12" r="7"></circle><circle fill="#F79E1B" cx="23" cy="12" r="7"></circle><path fill="#FF5F00" d="M22 12c0-2.4-1.2-4.5-3-5.7-1.8 1.3-3 3.4-3 5.7s1.2 4.5 3 5.7c1.8-1.2 3-3.3 3-5.7z"></path>
                    </svg>
                  </div>
                </div>
              {% endif %}
                              {% when 'gift_stock' %}
              <div class="flex items-center justify-between mt-[40px]">
                {% if block.settings.stock %}
                  <div class="stock__status flex gap-x-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                    <span
                      ><strong class="text-[14px] leading-[19px] text-[#000000] font-normal">3 in stock</strong></span
                    >
                  </div>
                {% endif %}
                {% if block.settings.gift %}
                  <div class="gift__wrap flex gap-x-3">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <span
                      ><strong class="text-[14px] leading-[19px] text-[#000000] font-normal"
                        >Use Gift Wrap</strong
                      ></span
                    >
                  </div>
                {% endif %}
              </div>
            {% when 'benifit_share' %}
              <div class="shipping__share flex items-center justify-between mt-[20px]">
                {% if block.settings.benifit %}
                  <div class="shipping">
                    <ul
                      role="list"
                      class="grid grid-cols-1 gap-4 text-[14px] leading-[19px] text-[#000000] font-normal"
                    >
                      {% if block.settings.li_1 != blank %}
                        <li class="flex gap-x-3">
                          <img src="{{ block.settings.icon_1 | image_url }}" class="h-6 w-5 flex-none text-indigo-600">
                          {{ block.settings.li_1 }}
                        </li>
                      {% endif %}
                      {% if block.settings.li_2 != blank %}
                        <li class="flex gap-x-3">
                          <img src="{{ block.settings.icon_2 | image_url }}" class="h-6 w-5 flex-none text-indigo-600">
                          {{ block.settings.li_2 }}
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                {% endif %}
                {% if block.settings.share %}
                  <div class="share flex gap-x-3 text-[14px] leading-[19px] text-[#000000] font-normal">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                    </svg>
                    <span><strong class="share">Share</strong></span>
                  </div>
                {% endif %}
              </div>
            {% when 'icon_with_text' %}
              <div class="pickup_stats flex gap-x-3 text-[14px] leading-[19px] text-[#000000] font-normal mt-[34px]">
                {% if block.settings.icon != blank %}
                  <img src="{{ block.settings.icon | image_url }}" class="w-6 h-6">
                {% endif %}
                <span>{{ block.settings.text }}</span>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
  .product-option input[type=radio]:checked+label{
    background:#000;
    color:#fff;
  }
  input[type="radio"] {
    display: none; /* Hide the radio button */
  }

  input[type="radio"]:checked + label {
      background-color: yellow; /* Change background color */
      color: red;               /* Change text color */
      font-weight: bold;        /* Make text bold */
  }

  label {
      padding: 10px;
      display: inline-block;
      cursor: pointer;
      border: 1px solid #ccc;   /* Optional: border for better visual */
  }
</style>

                        
<script>
    var product = {{ product | json }}
    console.log(product)
    document.querySelectorAll('.product-option input[type="radio"]').forEach(radio => {
    radio.addEventListener('change', () => {

    var selectedOptions = []
      document.querySelectorAll('.product-option input[type="radio"]:checked').forEach(radio =>{
      selectedOptions.push(radio.value)
    })
    console.log(selectedOptions + " valuse")

    var matchedVariant = product.variants.find(variant => {
    var pass = true
    for (var i = 0; i < selectedOptions.length; i++) {
    if (selectedOptions.indexOf(variant.options[i]) == -1) {
      console.log(selectedOptions + " false")
    pass = false
    break
    }
    }
    return pass
            console.log(selectedOptions + " true")
    })
    console.log(matchedVariant)
    // console.log(selectedOptions)
    document.querySelector('#product-id').value = matchedVariant.id;

    console.log(matchedVariant.featured_media)

        // Change url
    var url = new URLParse(window.location.href, true)
    url.query.variant = matchedVariant.id
        window.history.replaceState(null, null, url.toString());
    console.log(url.toString())

    //product price udpate
    document.querySelector('.product-price').textContent = formatMoney (matchedVariant.price, "{{ shop.money_format }}")
    document.querySelector('.product-compare').textContent = formatMoney (matchedVariant.compare_at_price, "{{ shop.money_format }}")

    matchedVariant.compare_at_price > matchedVariant.price ? 
    document.querySelector('.product-compare').classList.remove('hidden'): 
    document.querySelector('.product-compare').classList.add('hidden'); 
        
      })
    })

    // for select
    var selectedOptions = []
      document.querySelectorAll('.product-option select').forEach(radio => {
    radio.addEventListener('change', () => {




          
      // Collect selected select options
        document.querySelectorAll('.product-option select').forEach(select => {
            var optionName = select.name;
            selectedOptions[optionName] = select.value;
        });

        var selectedOptionsArray = Object.values(selectedOptions);

        var matchedVariants = product.variants.find(variant => {
            var pass = true;
            for (var i = 0; i < selectedOptionsArray.length; i++) {
                if (selectedOptionsArray.indexOf(variant.options[i]) == -1) {
                    pass = false;
                    break;
                }
            }
            return pass;
        });
        console.log(matchedVariants);
        document.querySelector('#product-id').value = matchedVariants.id;

    console.log(matchedVariants.featured_media.preview_image.src)

        // Change url
    var url = new URLParse(window.location.href, true)
    url.query.variant = matchedVariants.id
        window.history.replaceState(null, null, url.toString());
    console.log(url.toString())

        //product price udpate
          document.querySelector('.product-price').textContent = formatMoney (matchedVariants.price, "{{ shop.money_format }}")
          document.querySelector('.product-compare').textContent = formatMoney (matchedVariants.compare_at_price, "{{ shop.money_format }}")

        matchedVariants.compare_at_price > matchedVariants.price ? 
    document.querySelector('.product-compare').classList.remove('hidden'): 
    document.querySelector('.product-compare').classList.add('hidden'); 


    let selected_id = matchedVariants.id;
        console.log(selected_id)

            document.querySelectorAll('.product-option select').forEach(radio => {
      radio.addEventListener('change', () => {
                var selectedValue =  matchedVariants.id;
                var variantSelector = document.getElementById('variant-selector');
                
                for (var i = 0; i < variantSelector.options.length; i++) {
                    if (variantSelector.options[i].getAttribute('product-variant-id') === selectedValue) {
                        variantSelector.selectedIndex = i;
                        break;
                    }
                }
                
                // Trigger the change event on the variant selector
                var event = new Event('change');
                variantSelector.dispatchEvent(event);
            });
        });
          })
        })
</script>


{% schema %}
{
    "name": "Product Main",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Cart"
        },
      {
        "type": "checkbox",
        "label":"Wishlist Button",
        "id":"wishlist"
      }
    ],
    "presets": [
        {
            "name": "Product Main",
            "category": "Harmony Sections"
        }
    ],
  "blocks":[
    {
      "type":"review_breadcrumbs",
      "name":"Review Breadcrumbs",
      "settings":[
        {
          "type": "checkbox",
          "label":"Breadcrumbs",
          "id":"breadcrumb"
        },
        {
          "type": "checkbox",
          "label":"Ratings",
          "id":"rating"
        }

      ]
    },
    {
      "type": "title",
      "name":"Title"
    },
    {
      "type": "price",
      "name":"Price"
    },
    {
      "type":"description",
      "name":"Description"
    },
    {
      "type":"quantity",
      "name":"Quantity Input"
    },
    {
      "type":"variant_picker",
      "name":"Variant Picker",
      "settings":[
        {
          "type":"select",
          "id":"picker_type",
          "label":"Variant Picker",
          "options":[
            {
              "value":"pills",
              "label":"Pills"
            },
            {
              "value":"dropdown",
              "label":"Drop Down"
            }
          ]
        },
        {
          "type":"checkbox",
          "label":"Color Swatches",
          "id":"color_swatches"
        }
      ]
    },
     {
          "type":"gift_stock",
          "name":"Gift Pack & Stock",
       "settings":[
         {
           "type": "checkbox",
           "label":"Gift Wrap",
           "id":"gift"
         },
         {
           "type": "checkbox",
           "label":"Stock",
           "id":"stock"
         }
       ]
        },
    {
      "type":"buy_button",
      "name":"Buy Button",
      "settings":[
        {
          "type":"checkbox",
          "label":"Subscribe",
          "id":"subscribe"
        },
        {
          "type":"checkbox",
          "label":"Instalments",
          "id":"instalments"
        }
      ]
    },
    {
      "type": "benifit_share",
      "name":"Benifit & Share",
      "settings":[
        {
          "type":"checkbox",
          "label":"Benifits",
          "id":"benifit"
        },
        {
          "type": "image_picker",
          "label":"Icon 1",
          "id":"icon_1"
        },
        {
          "type":"text",
          "label":"First Benifit",
          "id":"li_1"
        },
        {
          "type": "image_picker",
          "label":"Icon 2",
          "id":"icon_2"
        },
        {
          "type":"text",
          "label":"Second Benifit",
          "id":"li_2"
        },
        {
          "type": "checkbox",
          "label":"Share Button",
          "id":"share"
        }
      ]
    },
    {
      "type":"icon_with_text",
      "name":"Icon With Text",
      "settings":[
        {
          "type":"image_picker",
          "label":"Icon",
          "id":"icon"
        },
        {
          "type": "text",
          "label":"Text",
          "id":"text"
        }
      ]
    }
  ]
}
{% endschema %}
<script>            
  // var sliderThumbnail = new Swiper('.slider-thumbnail', {
  //   slidesPerView: 1,
  //   freeMode: true,
  //   watchSlidesVisibility: true,
  //   watchSlidesProgress: true,
  // });

 
  // var slider = new Swiper('.slider', {

  //   thumbs: {
  //     swiper: sliderThumbnail
  //   }
  // });
</script>
<style>
  .product__gallaries .swiper-slide{
    height:auto;
  }
</style>
