{%- style -%}
    .harmony--{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
        .harmony--{{ section.id }}-padding {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
    }
{%- endstyle -%}


<section id="harmony--{{ section.id }}" class="section__page-header {% if section.settings.enable_bg_pattern != true and section.settings.enable_gradient == true %} harmony__color-background-gradient-{{ section.settings.reveal_color_scheme }} {% elsif section.settings.enable_bg_pattern != true and section.settings.enable_gradient != true %} harmony__color-background-{{ section.settings.reveal_color_scheme }} {% endif %}">
    <div class="overflow-hidden relative harmony--{{ section.id }}-padding">
        {% if section.settings.enable_bg_pattern %}
            {% if section.settings.bg_pattern != blank %}
                {{ section.settings.bg_pattern | image_url: width: '100' | image_tag: class: 'absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center' }}
            {% endif %}
        {% endif %}
        <div class="mx-auto max-w-7xl px-6 md:px-10">
            <div class="mx-auto grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-4">
                <div class="col-img hidden md:block justify-end align-bottom content-end relative xl:top-[22rem] xl:left-[-6rem] md:opacity-50 2xl:opacity-100 lg:top-[23rem] lg:left-[-5rem] md:absolute md:top-[-2rem] md:left-0">
                    {%- if section.settings.img_left != blank -%}
                        {{ section.settings.img_left | image_url: width: '240' | image_tag: class: 'w-full md:w-[200px] xl:w-[240px] md:-ml-4 lg:-ml-0' }}
                    {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'md:w-[200px] xl:w-[240px] md:-ml-4 lg:-ml-0' }}
                    {%- endif -%}
                </div>
                <div class="lg:pr-8 lg:pt-4 col-span-3">
                    <div class="lg:w-full">
                        <label class="section_label inline-block {% if settings.body_font_size == 'sm' %}harmony__reveal-label-sm{% elsif settings.body_font_size == 'lg' %}harmony__reveal-label-lg{% else %}harmony__reveal-label-theme-default{% endif %} harmony__color-text-{{ section.settings.reveal_color_scheme }} bg-transparent border harmony__color-border-{{ section.settings.reveal_color_scheme }} rounded-full mb-[30px] px-2 py-2">Deploy faster</label>
                        <h2 class="reveal_colored_text {% if settings.heading_font_size == 'sm' %}harmony__reveal-heading-sm{% elsif settings.heading_font_size == 'lg' %}harmony__reveal-heading-lg{% else %}harmony__reveal-heading-theme-default{% endif %} xl:min-w-[63rem] lg:min-w-[54rem] md:min-w-[40rem] font-semibold tracking-tight harmony__color-text-{{ section.settings.reveal_color_scheme }}">{{ section.settings.heading_part_one | escape }}<span class="harmony__color-text-secondary-{{ section.settings.reveal_color_scheme }}">{{ section.settings.heading_part_two | escape }}</span>
                        </h2>
                    </div>
                </div>
                <div class="col-img justify-end align-bottom content-end relative lg:opacity-50 xl:opacity-100 xl:bottom-[14rem] xl:right-20 lg:bottom-[18rem] lg:right-20 md:absolute md:bottom-[1rem] md:right-20">
                    {%- if section.settings.img_right != blank -%}
                        {{ section.settings.img_right | image_url: width: '240' | image_tag: class: 'w-full md:w-[200px] xl:w-[240px] md:-ml-4 lg:-ml-0' }}
                    {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'w-full md:w-[200px] xl:w-[240px] md:-ml-4 lg:-ml-0' }}
                    {%- endif -%}
                </div>
            </div>
            <div class="reveal__description mt-10">
                <dd class="{% if settings.body_font_size == 'sm' %}harmony__reveal-desc-sm{% elsif settings.body_font_size == 'lg' %}harmony__reveal-desc-lg{% else %}harmony__reveal-desc-theme-default{% endif %} harmony__color-text-{{ section.settings.reveal_color_scheme }} max-w-xl">
                    {{ section.settings.desc }}
                </dd>
                <div class="col-img block md:hidden mt-8">
                    {%- if section.settings.img_left != blank -%}
                        {{ section.settings.img_left | image_url: width: '240' | image_tag: class: 'w-full md:-ml-4 lg:-ml-0' }}
                    {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'w-full md:-ml-4 lg:-ml-0' }}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Reveal",
    "settings": [
        {
            "type": "color_scheme",
            "id": "reveal_color_scheme",
            "label": "Section Background",
            "default": "scheme-1"
        },
        {
            "type": "checkbox",
            "id": "enable_gradient",
            "label": "Background Gradient?",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "enable_bg_pattern",
            "label": "Background Pattern?",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "bg_pattern",
            "label": "Pattern Image"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type": "image_picker",
            "id": "img_left",
            "label": "Image Left"
        },
        {
            "type": "image_picker",
            "id": "img_right",
            "label": "Image Right"
        },
        {
            "type": "inline_richtext",
            "id": "heading_part_one",
            "label": "Heading 1st part"
        },
        {
            "type": "inline_richtext",
            "id": "heading_part_two",
            "label": "Heading 2nd part"
        },
        {
            "type": "textarea",
            "id": "desc",
            "label": "Description",
            "default": "<p>It was so easy to use! My friends have been asking me what I’ve been doing differently because my complexion has never looked better. Thank you, Swiss, for giving me the confidence to go makeup-free!</p>"
        },
        {
            "type": "header",
            "content": "Section padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Top",
            "default": 36
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 36
        }
    ],
    "presets": [
        {
            "name": "Reveal",
            "category": "Harmony Sections"
        }
    ]
}
{% endschema %}
