<section id="harmony--{{ section.id }}">
  <div class="bg-[rgb(46,69,50)] py-8 lg:py-16">
    <div class="mx-auto max-w-7xl px-6 md:px-10 grid grid-cols-1 lg:flex lg:items-center lg:justify-between">
      <div class="w-full lg:w-1/2">
        <div class="swiper mySwiper{{ section.id }} w-[100%]">
          <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if 'review' %}
              <div class="swiper-slide">
                <h2 class="text-[27px] leading-[36px] lg:text-[37px] lg:leading-[56px] font-bold tracking-tight text-[#fffaf3]">
                  {{ block.settings.review_heading }}
                </h2>
                <dd class="text-[18px] leading-[22px] text-[#aeb4af] mt-[19px]">
                  {{ block.settings.review_text }}
                </dd>
                <h4 class="author__name text-[17px] leading-[26px] text-[#aeb4af] font-bold mt-[19px]">
                  {{ block.settings.review_author }}
                </h4>
                {% if section.settings.verify != blank and section.settings.testimonial_layout == 'layout-2' %}
                  <label class="testimonial__caption inline-block mt-6 {% if settings.body_font_size == 'sm' %}harmony__testimonial-caption-sm{% elsif settings.body_font_size == 'lg' %}harmony__testimonial-caption-lg{% else %}harmony__testimonial-caption-theme-default{% endif %} font-normal border rounded-full px-2 py-2">
                    {{ section.settings.verify }}
                  </label>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>
        <div class="product_carousel-control {% if section.settings.slider_navigation == 'none' %} hidden {% else %} flex {% endif %} items-center justify-center my-4"
        >
          <button
            class="flex items-center rounded-md py-[0.4375rem] pl-2 pr-2 lg:pr-3"
            id="headlessui-tabs-tab-6"
            role="tab"
            type="button"
            aria-selected="false"
            tabindex="-1"
            aria-controls="headlessui-tabs-panel-8"
          >
            <span
              class="product_carousel-prev {% if section.settings.slider_navigation == 'dots' %} hidden {% endif %} mr-2"
            >
              <a
                class="prev-{{ section.id }} relative inline-flex items-center harmony__color-primary-button-background-{{ section.settings.testimonial_color_scheme }} border  harmony__color-primary-button-border-{{ section.settings.testimonial_color_scheme }} rounded-full px-2 py-2 ring-inset focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Previous</span>
                <svg class="h-5 w-5 harmony__color-icon-{{ section.settings.testimonial_color_scheme }}" viewBox="0 0 20 20" fill="none" aria-hidden="true">
                  <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"></path>
                </svg>
              </a>
            </span>
            <div
              class="pagination-{{ section.id }} {% if section.settings.slider_navigation == 'arrows' %} hidden {% endif %}"
            ></div>
            <span
              class="product_carousel-next {% if section.settings.slider_navigation == 'dots' %} hidden {% endif %} ml-2"
            >
              <a
                class="next-{{ section.id }} relative harmony__color-secondary-button-background-{{ section.settings.testimonial_color_scheme }} border harmony__color-secondary-button-border-{{ section.settings.testimonial_color_scheme }} inline-flex items-center rounded-full px-2 py-2 focus:z-20 focus:outline-offset-0"
              >
                <span class="sr-only">Next</span>
                <svg class="h-5 w-5 harmony__color-icon-{{ section.settings.testimonial_color_scheme }}" viewBox="0 0 20 20" fill="none" aria-hidden="true">
                  <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                </svg>
              </a>
            </span>
          </button>
        </div>

      </div>
      <div class="w-full md:w-1/3 text-left lg:text-center py-6">
        {%- if section.settings.testimonial_layout == 'layout-1' -%}
          {% if section.settings.verify != blank %}
            <span class="author__label inline-block text-[14px] leading-[19px] text-[#aeb4af] mt-[18px] font-normal border border-[#aeb4af] rounded-full px-2 py-1.5">
              {{ section.settings.verify }}
            </span>
          {% endif %}
          <div class="flex justify-start lg:justify-center mt-[14px]">
            {% if section.settings.rating != 0 %}
              <div class="mr-3">
                <p class="text-xl font-medium text-gray-100">
                  <svg class="inline-flex text-gray-100 w-5 mt-[-11px] flex-shrink-0" x-state-description="undefined: &quot;text-gray-900&quot;, undefined: &quot;text-gray-200&quot;" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="text-[24px] leading-[29px] text-[#f7f4ed]">{{ section.settings.rating }}</span>
                </p>
              </div>
            {% endif %}
            {% if section.settings.num_r != blank and section.settings.num_r != 0 %}
              <div class="ml-1">
                <p class="text-[14px] leading-[19px] text-[#f7f4ed] pt-1">Based on {{ section.settings.num_r }} Reviews</p>
              </div>
            {% endif %}
          </div>
          {% if section.settings.btn_label != blank %}
            <a href="{{ section.settings.btn_url }}" class="text-[17px] leading-[13px] text-[#fffaf4] font-semibold block px-0 lg:px-2 mt-[46px]">
              {{- section.settings.btn_label -}}
            </a>
          {% endif %}
        {%- endif -%}
        {% if section.settings.testimonial_layout == 'layout-2' %}
          <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
            <img src="https://cdn.shopify.com/s/files/1/0586/2499/9582/files/newsletter-img.png?v=1713693079" width="600px" height="auto" alt="image" class="object-cover object-center">
          </div> 
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
    {
      "type": "color_scheme",
      "id": "testimonial_color_scheme",
      "label": "Color Scheme"
    },
    {
      "type": "checkbox",
      "id": "enable_gradient",
      "label": "Background Gradient?",
      "default": false
    },
    {
      "type": "select",
      "id": "testimonial_layout",
      "label": "Testimonial layout",
      "options": [
        {
          "value": "layout-1",
          "label": "Layout 1"
        },
        {
          "value": "layout-2",
          "label": "Layout 2"
        }
      ],
      "default": "layout-1"
    },
    {
      "type": "range",
      "id": "rating",
      "label": "Rating",
      "default":4.9,
      "min": 0,
      "max": 5,
      "step": 0.1
    },
    {
      "type":"text",
      "id":"verify",
      "label":"Tag",
      "default": "From Verified Buyers"
    },
    {
      "type":"number",
      "label":"Number of Reviews",
      "id":"num_r"
    },
    {
      "type": "text",
      "label":"Button Label",
      "id":"btn_label",
      "default":"Read more Testimonials"
    },
    {
      "type": "url",
      "label":"Button URL",
      "id":"btn_url"
    },
    {
      "type": "header",
      "content": "Carousel Settings"
    },
    {
      "type": "select",
      "id": "slider_navigation",
      "label": "Slider Navigation",
      "options": [
        {
          "value": "both",
          "label": "Both"
        },
        {
          "value": "dots",
          "label": "Dots Only"
        },
        {
          "value": "arrows",
          "label": "Arrows Only"
        },
        {
          "value": "none",
          "label": "None"
        }
      ],
      "default": "both"
    },
    {
      "type": "color",
      "id": "active_pagi_color",
      "label": "Pagination Active Color",
      "default": "#626E5C"
    }
  ],
  "blocks":[
    {
      "type":"review",
      "name":"Review",
      "settings": [
        {
          "type":"inline_richtext",
          "id":"review_heading",
          "label":"Review Heading",
          "default": "what do they say about us"
        },
        {
          "type":"textarea",
          "id":"review_text",
          "label":"Review Text",
          "default": "<p>It was so easy to use! My friends have been asking me what I’ve been doing differently because my complexion has never looked better. Thank you, Swiss, for giving me the confidence to go makeup-free!</p>"
        },
        {
          "type":"inline_richtext",
          "id":"review_author",
          "label":"Author",
          "default": "Alex S."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "category": "Harmony Sections"
    }
  ]
}
{% endschema %}

{% style  %}
  .grid-rtl{
    direction:rtl;
  }
  span.swiper-pagination-bullet.swiper-pagination-bullet-active { 
    background: {{ section.settings.active_pagi_color }} ; 
  }
{% endstyle %}

<script>
  var swiper = new Swiper(".mySwiper{{ section.id }}", {
    slidesPerView: 1,
    spaceBetween: 5,
    pagination: {
      el: ".pagination-{{ section.id }}",
      clickable: true,
    },
    navigation: {
      nextEl: ".next-{{ section.id }}",
      prevEl: ".prev-{{ section.id }}",
    },
  });
</script>