<section id="harmony--{{ section.id }}">
  <div class="bg-[#2E4532] py-16 lg:py-24">
    <div class="mx-auto max-w-7xl px-6 md:px-10 grid grid-cols-1 lg:flex lg:justify-between">
      <div class="w-full lg:w-1/2">
        {% for block in section.blocks %}
          {% if 'review' %}
            <h2 class="text-[27px] leading-[36px] lg:text-[37px] lg:leading-[56px] font-bold tracking-tight text-[#fffaf3]">
              {{ block.settings.review_heading }}
            </h2>
            <p class="text-[18px] leading-[22px] text-[#aeb4af] mt-2 mb-6">
              {{ block.settings.review_text }}
            </p>
          {% endif %}
        {% endfor %}
        <div class="flex items-center my-2">
          <button
              class="flex items-center rounded-md py-[0.43rem] pl-0 pr-0 lg:pl-2 lg:pr-2 text-sm font-semibold lg:pr-3"
              id="headlessui-tabs-tab-6"
              role="tab"
              type="button"
              aria-selected="false"
              tabindex="-1"
              data-headlessui-state=""
              aria-controls="headlessui-tabs-panel-8"
            >
            <span class="lg:mr-2 text-slate-700">
            <a href="#" class="relative inline-flex items-center rounded-full px-2 py-2 text-gray-100 hover:text-gray-700 ring-1 ring-inset ring-gray-300 bg-gray-700 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                <span class="sr-only">Previous</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd"></path>
                </svg>
            </a>
            </span>
            <span class="mx-2 lg:mx-2">
                <div class="h-1.5 w-1.5 rounded-full bg-black"></div>
            </span>
            <span class="mx-2 lg:mx-2">
                <div class="h-1.5 w-1.5 rounded-full bg-gray-300"></div>
            </span>
            <span class="mx-2 lg:mx-2">
                <div class="h-1.5 w-1.5 rounded-full bg-gray-300"></div>
            </span>
            <span class="lg:ml-2 text-slate-700">
                <a href="#" class="relative inline-flex items-center rounded-full px-2 py-2 text-gray-700 hover:text-gray-100 bg-gray-100  hover:bg-gray-700 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                    <span class="sr-only">Next</span>
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                </a>
            </span>
          </button>
        </div>
      </div>
      <div class="w-full lg:w-1/4 text-left lg:text-center py-6">
        {% if section.settings.verify != blank %}
          <p class="mt-2 text-[14px] leading-[19px] text-[#f7f4ed] inline-block px-2 py-1.5 mb-2 border border-[#f7f4ed] rounded-full">
            {{ section.settings.verify }}
          </p>
        {% endif %}
        <div class="mt-1 mb-4 flex justify-start lg:justify-center">
          {% if section.settings.rating != 0 %}
            <div class="mr-3">
              <p class="text-xl font-medium text-gray-100">
                <svg class="inline-flex text-gray-100 w-5 mt-[-11px] flex-shrink-0" x-state-description="undefined: &quot;text-gray-900&quot;, undefined: &quot;text-gray-200&quot;" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
                </svg>
                <span class="text-[24px] leading-[29px] text-[#f7f4ed]">{{ section.settings.rating }}</span>
              </p>
            </div>
          {% endif %}
          {% if section.settings.num_r != blank and section.settings.num_r != 0 %}
            <div class="ml-1">
              <p class="text-[14px] leading-[19px] text-[#f7f4ed] pt-1">Based on {{ section.settings.num_r }} Reviews</p>
            </div>
          {% endif %}
        </div>
        {% if section.settings.btn_label != blank %}
          <a href="{{ section.settings.btn_url }}" class="mt-6 text-[17px] leading-[13px] text-[#fffaf4] font-semibold inline px-0 lg:px-2">
            {{- section.settings.btn_label -}}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
    {
      "type": "range",
      "id": "rating",
      "label": "Rating",
      "default":4.9,
      "min": 0,
      "max": 5,
      "step": 0.1
    },
    {
      "type":"text",
      "id":"verify",
      "label":"Tag",
      "default": "From Verified Buyers"
    },
        {
          "type":"number",
          "label":"Number of Reviews",
          "id":"num_r"
        },
    {
      "type": "text",
      "label":"Button Label",
      "id":"btn_label",
      "default":"Read more Testimonials"
    },
    {
      "type": "url",
      "label":"Button URL",
      "id":"btn_url"
    }
  ],
  "blocks":[
    {
      "type":"review",
      "name":"Review",
      "settings": [
        {
          "type":"text",
          "label":"Review Heading",
          "id":"review_heading"
        },
        {
          "type":"textarea",
          "label":"Review Text",
          "id":"review_text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "category": "Harmony Sections"
    }
  ]
}
{% endschema %}
